<!--==================================
   About Description Section Area
===================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container reveal-me">
    <h3
      class="reveal-text-2 text-2xl text-secondary/90 dark:text-backgroundBody/70 text-left lg:text-3xl xl:text-4xl font-normal lg:leading-[1.2] lg:tracking-[0.72px]"
    >
      At Rivor, we believe design goes beyond aesthetics—it’s about crafting
      meaningful connections that inspire, engage, and leave a lasting impact.
      Our approach blends creativity with strategy, ensuring that every design
      element serves a purpose. Whether it’s branding, user experience, or
      digital interfaces, we focus on innovation that resonates with your
      audience.
    </h3>
  </div>
</section>
