<!-- ================================
ABout-v10 Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <div class="text-center mb-8 md:mb-14">
      <div class="rv-badge reveal-me">
        <span class="rv-badge-text">Who We Are</span>
      </div>
      <h2 class="text-appear">
        Crafting personalized <br />
        <i class="font-instrument">travel experiences</i>
      </h2>
    </div>

    <div
      class="mt-8 md:mt-16 flex flex-col md:flex-row items-center justify-between gap-y-5 md:gap-x-[30px]"
    >
      <figure class="w-full md:w-[570px] md:h-[400px] reveal-me">
        <img
          src="/images/home-3/about-banner.png"
          alt="about-banner"
          class="w-full"
        />
      </figure>
      <figcaption>
        <p class="max-w-xl reveal-me">
          At Rivor Travels, we believe that travel is more than just visiting
          new places—it's about creating unforgettable memories. With years of
          experience, global connections, and a passion for exploration, we
          specialize in designing customized itineraries that match your style,
          budget, and dreams.
        </p>
        <ul class="justify-self-start max-md:w-full mt-20 md:mt-36 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/project.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>View Case Studies</span>
              </div>
              <div class="rv-button-bottom">
                <span>View Case Studies</span>
              </div>
            </a>
          </li>
        </ul>
      </figcaption>
    </div>
  </div>
</section>
