<section
  class="pt-28 md:pt-32 lg:pt-44 xl:pt-[200px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div>
      <h2 class="text-appear">Trusted by Industry Leaders</h2>
      <div
        class="mt-8 md:mt-16 mb-20 md:mb-28 flex flex-col md:flex-row items-center justify-between gap-y-5 md:gap-x-20"
      >
        <figure class="w-full md:w-96 md:h-[305px] reveal-me">
          <img
            src="/images/home-3/about-banner.png"
            alt="about-banner"
            class="w-full"
          />
        </figure>
        <figcaption>
          <p class="max-w-xl reveal-me">
            With years of experience and a track record of success, we’ve helped
            businesses across multiple industries. Industry certifications and
            recognitions back our expertise.
          </p>
          <ul class="justify-self-start max-md:w-full mt-7 md:mt-14 reveal-me">
            <li
              class="block md:inline-block w-full mx-auto md:w-auto text-center"
            >
              <a
                href="/project.html"
                class="rv-button rv-button-white block md:inline-block"
              >
                <div class="rv-button-top">
                  <span>View Case Studies</span>
                </div>
                <div class="rv-button-bottom">
                  <span>View Case Studies</span>
                </div>
              </a>
            </li>
          </ul>
        </figcaption>
      </div>
    </div>

    <div
      class="flex max-xl:flex-wrap items-center justify-center gap-[30px] pt-[75px] reveal-me"
    >
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="25"></span>
        </h2>
        <p>Years of Experience</p>
      </div>
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="300"></span> +
        </h2>
        <p>Clients Globally</p>
      </div>
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="90"></span> %
        </h2>
        <p>Business Growth Rate</p>
      </div>
    </div>
  </div>
</section>
