<!-- =====================
achievements-v3 section 
======================= -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <div
      class="flex flex-wrap items-center justify-center gap-[30px] reveal-me"
    >
      <div
        class="border dark:border-dark p-5 md:p-[30px] space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px] lg:min-h-[212px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="81"></span>
        </h2>
        <p>Startups accelerated</p>
      </div>
      <div
        class="border dark:border-dark p-5 md:p-[30px] space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px] lg:min-h-[212px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="30"></span> +
        </h2>
        <p>Investor ready branding</p>
      </div>
      <div
        class="border dark:border-dark p-5 md:p-[30px] space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px] lg:min-h-[212px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="99"></span> %
        </h2>
        <p>Human centered design</p>
      </div>
    </div>

    <ul class="justify-self-center max-md:w-full mt-7 md:mt-14 reveal-me">
      <li class="block md:inline-block w-full mx-auto md:w-auto text-center">
        <a
          href="/team.html"
          class="rv-button rv-button-white block md:inline-block"
        >
          <div class="rv-button-top">
            <span>See Our Success Stories</span>
          </div>
          <div class="rv-button-bottom">
            <span>See Our Success Stories</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
