<!-- =====================
achievements section 
======================= -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <h2 class="mx-auto text-center mb-10 md:mb-20 text-appear">
      Crafting timeless designs for <br />
      inspired living
    </h2>

    <div
      class="flex flex-wrap items-center justify-center gap-[30px] reveal-me"
    >
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="25"></span>
        </h2>
        <p>Years of Experience</p>
      </div>
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="300"></span> +
        </h2>
        <p>Clients Globally</p>
      </div>
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="90"></span> %
        </h2>
        <p>Business Growth Rate</p>
      </div>
    </div>
  </div>
</section>
