<!-- =====================
achievements-v2 section 
======================= -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <div
      class="flex flex-wrap items-center justify-center gap-[30px] reveal-me"
    >
      <div
        class="border dark:border-dark p-5 md:p-[30px] space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px] lg:min-h-[212px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="20"></span>
        </h2>
        <p>Years of industry experience</p>
      </div>
      <div
        class="border dark:border-dark p-5 md:p-[30px] space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px] lg:min-h-[212px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="300"></span> +
        </h2>
        <p>Results oriented copy</p>
      </div>
      <div
        class="border dark:border-dark p-5 md:p-[30px] space-y-3 flex justify-center flex-col items-center min-w-[280px] lg:min-w-[320px] min-h-[180px] lg:min-h-[212px]"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="90"></span> %
        </h2>
        <p>Performance optimized</p>
      </div>
    </div>
  </div>
</section>
