<!-- ================================
award-winning-work Section 
================================ -->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] overflow-hidden"
>
  <!--  section header -->
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-y-3 gap-x-10 justify-center lg:justify-start items-start md:items-center mb-16 md:mb-20"
    >
      <div class="flex-1">
        <h2 class="text-appear-2">
          Celebrating excellence in
          <span class="font-instrument italic">filmmaking</span>
        </h2>
      </div>
      <div class="max-md:w-full md:max-w-80 lg:max-w-[470px]">
        <p
          class="text-appear max-md:text-justify max-w-lg md:place-self-end md:text-right text-appear-2"
        >
          Our commitment to excellence has earned us accolades from the
          industry’s most prestigious organizations.
        </p>
      </div>
    </div>
  </div>

  <!-- Hover Image Preview -->
  <div
    id="preview"
    class="absolute top-1/4 left-1/2 w-[200px] h-[200px] overflow-hidden pointer-events-none origin-center scale-0 z-20 rotate-[20deg]"
  >
    <img
      id="preview-img"
      src=""
      alt="Preview"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Awards Table -->
  <div
    class="lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1380px] mx-auto text-sm border-t reveal-me max-xl:overflow-auto max-md:px-5"
    id="projects"
  >
    <!-- Row 1 -->
    <div
      class="row group flex items-center justify-start py-4 border-b min-h-[138px]"
      data-img="/images/portfolio/portfolio-list-hover-img-01.png"
    >
      <div
        class="w-16 -mt-5 text-lg italic font-instrument leading-[22px] text-nowrap"
      >
        2020
      </div>
      <div
        class="ml-11 w-72 md:w-96 lg:w-80 2xl:w-[470px] text-3xl md:text-4xl 2xl:text-5xl lg:leading-[1.1] text-nowrap"
      >
        Best cinematography
      </div>
      <div
        class="ml-16 xl:ml-40 2xl:ml-[150px] w-60 2xl:w-[370px] text-2xl leading-[1.6] text-nowrap"
      >
        Global film Awards
      </div>
      <div
        class="ml-16 2xl:ml-0 w-60 lg:w-[175px] text-2xl leading-[1.6] text-right text-nowrap"
      >
        Film Awards
      </div>
    </div>

    <!-- Row 2 -->
    <div
      class="row group flex items-center justify-start py-4 border-b min-h-[138px]"
      data-img="/images/portfolio/portfolio-list-hover-img-04.png"
    >
      <div
        class="w-16 -mt-5 text-lg italic font-instrument leading-[22px] text-nowrap"
      >
        2021
      </div>
      <div
        class="ml-11 w-72 md:w-96 lg:w-80 2xl:w-[470px] text-3xl md:text-4xl 2xl:text-5xl lg:leading-[1.1] text-nowrap"
      >
        Best visual effects
      </div>
      <div
        class="ml-16 xl:ml-40 2xl:ml-[150px] w-60 2xl:w-[370px] text-2xl leading-[1.6] text-nowrap"
      >
        International film festiva
      </div>
      <div
        class="ml-16 2xl:ml-0 w-60 lg:w-[175px] text-2xl leading-[1.6] text-right text-nowrap"
      >
        International
      </div>
    </div>

    <!-- Row 3 -->
    <div
      class="row group flex items-center justify-start py-4 border-b min-h-[138px]"
      data-img="/images/portfolio/portfolio-list-hover-img-03.png"
    >
      <div
        class="w-16 -mt-5 text-lg italic font-instrument leading-[22px] text-nowrap"
      >
        2022
      </div>
      <div
        class="ml-11 w-72 md:w-96 lg:w-80 2xl:w-[470px] text-3xl md:text-4xl 2xl:text-5xl lg:leading-[1.1] text-nowrap"
      >
        Top production
      </div>
      <div
        class="ml-16 xl:ml-40 2xl:ml-[150px] w-60 2xl:w-[370px] text-2xl leading-[1.6] text-nowrap"
      >
        Brand creators Awards
      </div>
      <div
        class="ml-16 2xl:ml-0 w-60 lg:w-[175px] text-2xl leading-[1.6] text-right text-nowrap"
      >
        Commercial
      </div>
    </div>

    <!-- Row 4 -->
    <div
      class="row group flex items-center justify-start py-4 border-b min-h-[138px]"
      data-img="/images/portfolio/portfolio-list-hover-img-02.png"
    >
      <div
        class="w-16 -mt-5 text-lg italic font-instrument leading-[22px] text-nowrap"
      >
        2023
      </div>
      <div
        class="ml-11 w-72 md:w-96 lg:w-80 2xl:w-[470px] text-3xl md:text-4xl 2xl:text-5xl lg:leading-[1.1] text-nowrap"
      >
        1 Award winning
      </div>
      <div
        class="ml-16 xl:ml-40 2xl:ml-[150px] w-60 2xl:w-[370px] text-2xl leading-[1.6] text-nowrap"
      >
        Awwwards
      </div>
      <div
        class="ml-16 2xl:ml-0 w-60 lg:w-[175px] text-2xl leading-[1.6] text-right text-nowrap"
      >
        Hono mention
      </div>
    </div>
  </div>
</section>
