<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] video-section"
>
  <div class="container">
    <!-- Section Header -->
    <div class="mb-10 lg:mb-20">
      <p
        class="font-satoshi text-center text-sm font-normal leading-6 tracking-[3px] uppercase reveal-me"
      >
        Award
      </p>
      <h2 class="mt-3 lg:mt-5 text-center text-appear">
        Winning digital marketing <br class="hidden md:block" />
        agency
      </h2>
      <p class="text-center text-appear mt-1.5">
        Rivor is a WordPress web design and SEO company with proven results.
        <br class="hidden md:block" />
        Use some award images
      </p>
    </div>
    <div class="hero-video-container">
      <a
        href="https://www.youtube.com/watch?v=OoLqksHk3_o"
        class="hero-video z-30 relative"
      >
        <figure class="overflow-hidden">
          <img
            src="/images/home-5/awards-feature-img.png"
            alt=""
            class="w-full cursor-pause"
          />
        </figure>
      </a>
    </div>
  </div>
</section>
