<!--=====================================
   blog-posts Section
======================================-->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- section header -->
    <div class="text-center mb-8 md:mb-14">
      <div class="rv-badge reveal-me">
        <span class="rv-badge-text">Our Portfolio</span>
      </div>
      <h2 class="my-3 text-appear">
        Stories that captivate, <br class="hidden md:block" />
        <i class="font-instrument"> moments that last</i>
      </h2>
      <p class="text-appear">
        Each project reflects our dedication to excellence, creativity, and
        innovation.
      </p>
    </div>
    <!-- Cards Container -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-[30px]">
      <!-- Card 1 -->
      <div>
        <div class="reveal-me border dark:border-dark p-5 group">
          <a href="project-details.html" class="max-md:block">
            <figure class="overflow-hidden">
              <img
                src="images/blog-img/blogV5-img-1.png"
                class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                alt="AI Design Trends"
              />
            </figure>
            <p
              class="text-sm mb-2.5 text-secondary dark:text-backgroundBody leading-[1.2] font-medium tracking-[0.96px] uppercase mt-5 md:mt-7"
            >
              March 15, 2024
            </p>
            <div class="blog-title">
              <h3
                class="text-3xl md:text-4xl lg:text-5xl lg:leading-[1.2] lg:tracking-[-1.68px]"
              >
                Brand Commercials
              </h3>
            </div>
          </a>
        </div>
      </div>

      <!-- Card 2 -->
      <div>
        <div class="reveal-me border dark:border-dark p-5 group">
          <a href="project-details.html" class="max-md:block">
            <figure class="overflow-hidden">
              <img
                src="images/blog-img/blogV5-img-2.png"
                class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                alt="Future of AI in Design"
              />
            </figure>
            <p
              class="text-sm mb-2.5 text-secondary dark:text-backgroundBody leading-[1.2] font-medium tracking-[0.96px] uppercase mt-5 md:mt-7"
            >
              March 20, 2024
            </p>
            <div class="blog-title">
              <h3
                class="text-3xl md:text-4xl lg:text-5xl lg:leading-[1.2] lg:tracking-[-1.68px]"
              >
                Future of AI in Design
              </h3>
            </div>
          </a>
        </div>
      </div>

      <!-- Card 3 -->
      <div>
        <div class="reveal-me border dark:border-dark p-5 group">
          <a href="project-details.html" class="max-md:block">
            <figure class="overflow-hidden">
              <img
                src="images/blog-img/blogV5-img-3.png"
                class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                alt="Creative Branding Strategies"
              />
            </figure>
            <p
              class="text-sm mb-2.5 text-secondary dark:text-backgroundBody leading-[1.2] font-medium tracking-[0.96px] uppercase mt-5 md:mt-7"
            >
              March 25, 2024
            </p>
            <div class="blog-title">
              <h3
                class="text-3xl md:text-4xl lg:text-5xl lg:leading-[1.2] lg:tracking-[-1.68px]"
              >
                Launch videos
              </h3>
            </div>
          </a>
        </div>
      </div>

      <!-- Card 4 -->
      <div>
        <div class="reveal-me border dark:border-dark p-5 group">
          <a href="project-details.html" class="max-md:block">
            <figure class="overflow-hidden">
              <img
                src="images/blog-img/blogV5-img-4.png"
                class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                alt="Digital Marketing Trends"
              />
            </figure>
            <p
              class="text-sm mb-2.5 text-secondary dark:text-backgroundBody leading-[1.2] font-medium tracking-[0.96px] uppercase mt-5 md:mt-7"
            >
              March 30, 2024
            </p>
            <div class="blog-title">
              <h3
                class="text-3xl md:text-4xl lg:text-5xl lg:leading-[1.2] lg:tracking-[-1.68px]"
              >
                Digital Marketing Trends
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Blog Buttons -->
    <ul class="flex justify-center mt-[56px] mx-auto list-none reveal-me">
      <li class="block md:inline-block w-full mx-auto md:w-auto text-center">
        <a
          href="/project-03.html"
          class="rv-button rv-button-white block md:inline-block"
        >
          <div class="rv-button-top">
            <span>View Our Portfolio</span>
          </div>
          <div class="rv-button-bottom">
            <span>View Our Portfolio</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
