<!--=====================================
   Case Studies Section
======================================-->
<section class="pb-14 md:pb-16 lg:pb-[150px] xl:pb-[200px]">
  <div class="container">
    <!-- Section Header -->
    <div class="text-center">
      <div class="rv-badge reveal-me mb-3">
        <span class="rv-badge-text">Case Studies</span>
      </div>
      <h2 class="mb-10 lg:mb-20 text-center text-appear">
        Winning cases, <i class="font-instrument">changing lives</i>
      </h2>
    </div>
    <!-- Case Studies Container -->
    <div class="mb-[60px] space-y-[30px]">
      <!-- Case Study 1 -->
      <div
        class="flex flex-col lg:flex-row items-center relative reveal-me underline-hover-effect group"
      >
        <!-- Case Study Image -->
        <figure class="max-w-[870px] -z-30 overflow-hidden">
          <a href="project-details.html" class="block">
            <img
              src="images/portfolio/project-img-08.png"
              class="w-full h-full group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
              alt="case-studies Img"
            />
          </a>
        </figure>

        <!-- Overlapping Content Card -->
        <div
          class="p-[30px] z-30 max-md:-mt-5 lg:absolute lg:right-0 bg-backgroundBody dark:bg-dark border border-black/10 dark:border-white/10 lg:max-w-[570px] w-full"
        >
          <p
            class="mb-3.5 text-black dark:text-white font-normal text-sm leading-6 tracking-[3px] uppercase"
          >
            Company
          </p>
          <div class="blog-title mb-3.5 lg:mb-5">
            <a href="project-details.html">
              <h3
                class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
              >
                Secured a $5 million settlement in a personal injury case
              </h3>
            </a>
          </div>
          <p
            class="mb-10 font-normal text-base leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
          >
            Could you clarify what you'd like to know or discuss regarding It
            can refer to representation.
          </p>

          <!-- Case Study Button -->
          <a href="project.html" class="rv-button rv-button-white">
            <div class="rv-button-top text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="inline dark:hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="hidden dark:inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
            <div class="rv-button-bottom text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="dark:inline hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="dark:hidden inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
          </a>
        </div>
      </div>

      <!-- Case Study 2 -->
      <div
        class="flex flex-col lg:flex-row items-center relative reveal-me underline-hover-effect group"
      >
        <!-- Case Study Image -->
        <figure class="max-w-[870px] -z-30 overflow-hidden">
          <a href="project-details.html" class="block">
            <img
              src="images/portfolio/project-img-09.png"
              class="w-full h-full group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
              alt="case-studies Img"
            />
          </a>
        </figure>

        <!-- Overlapping Content Card -->
        <div
          class="p-[30px] z-30 max-md:-mt-5 lg:absolute lg:right-0 bg-backgroundBody dark:bg-dark border border-black/10 dark:border-white/10 lg:max-w-[570px] w-full"
        >
          <p
            class="mb-3.5 text-black dark:text-white font-normal text-sm leading-6 tracking-[3px] uppercase"
          >
            Company
          </p>
          <div class="blog-title mb-3.5 lg:mb-5">
            <a href="project-details.html">
              <h3
                class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
              >
                Successfully defended a high-profile corporate fraud case
              </h3>
            </a>
          </div>
          <p
            class="mb-10 font-normal text-base leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
          >
            Could you clarify what you'd like to know or discuss regarding It
            can refer to representation.
          </p>

          <!-- Case Study Button -->
          <a href="project.html" class="rv-button rv-button-white">
            <div class="rv-button-top text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="inline dark:hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="hidden dark:inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
            <div class="rv-button-bottom text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="dark:inline hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="dark:hidden inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
          </a>
        </div>
      </div>

      <!-- Case Study 3 -->
      <div
        class="flex flex-col lg:flex-row items-center relative reveal-me underline-hover-effect group"
      >
        <!-- Case Study Image -->
        <figure class="max-w-[870px] -z-30 overflow-hidden">
          <a href="project-details.html" class="block">
            <img
              src="images/portfolio/project-img-10.png"
              class="w-full h-full group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
              alt="case-studies Img"
            />
          </a>
        </figure>

        <!-- Overlapping Content Card -->
        <div
          class="p-[30px] z-30 max-md:-mt-5 lg:absolute lg:right-0 bg-backgroundBody dark:bg-dark border border-black/10 dark:border-white/10 lg:max-w-[570px] w-full"
        >
          <p
            class="mb-3.5 text-black dark:text-white font-normal text-sm leading-6 tracking-[3px] uppercase"
          >
            Company
          </p>
          <div class="blog-title mb-3.5 lg:mb-5">
            <a href="project-details.html">
              <h3
                class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
              >
                Protected parental rights in a Landmark family Law case
              </h3>
            </a>
          </div>
          <p
            class="mb-10 font-normal text-base leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
          >
            Could you clarify what you'd like to know or discuss regarding It
            can refer to representation.
          </p>

          <!-- Case Study Button -->
          <a href="project.html" class="rv-button rv-button-white">
            <div class="rv-button-top text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="inline dark:hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="hidden dark:inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
            <div class="rv-button-bottom text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="dark:inline hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="dark:hidden inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
          </a>
        </div>
      </div>
    </div>

    <ul class="justify-self-center max-md:w-full mt-7 md:mt-14 reveal-me">
      <li class="block md:inline-block w-full mx-auto md:w-auto text-center">
        <a
          href="/project-02.html"
          class="rv-button rv-button-white block md:inline-block"
        >
          <div class="rv-button-top">
            <span>Read More Case Studies</span>
          </div>
          <div class="rv-button-bottom">
            <span>Read More Case Studies</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
