<!-- ==============================
client-success-stories
============================== -->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-4 justify-center lg:justify-between items-start mb-9 lg:mb-16"
    >
      <!-- Title Area -->
      <div class="flex-1 md:self-start">
        <h2 class="text-appear lg:leading-[1.1]">
          Success
          <i class="font-instrument"> stories</i>
        </h2>
      </div>

      <!-- Description -->
      <div class="w-full md:max-w-72 lg:max-w-[470px] md:self-end">
        <p class="text-appear max-w-lg md:text-right md:place-self-end">
          Our user-centered design encourages productivity and boosts revenue.
        </p>
        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="blog.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>Read More Success Stories</span>
              </div>
              <div class="rv-button-bottom">
                <span>Read More Success Stories</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Success Blogs -->
    <div class="user-swiper swiper overflow-hidden reveal-me">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure class="relative">
            <a href="/blog-details.html">
              <img
                src="images/blog-img/success-blog-1.png"
                alt="Success Img"
                class="w-full h-auto"
              />
              <div
                class="absolute bottom-0 left-0 h-[150px] w-full bg-gradient-to-t from-secondary/85 to-secondary/5"
              ></div>
              <h3 class="text-backgroundBody absolute bottom-6 left-6 z-10">
                Scaling a startup's media presence
              </h3>
            </a>
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="relative">
            <a href="/blog-details.html">
              <img
                src="images/blog-img/success-blog-2.png"
                alt="Success Img"
                class="w-full h-auto"
              />
              <div
                class="absolute bottom-0 left-0 h-[150px] w-full bg-gradient-to-t from-secondary/85 to-secondary/5"
              ></div>
              <h3 class="text-backgroundBody absolute bottom-6 left-6 z-10">
                Elevating your startup’s digital footprint
              </h3>
            </a>
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="relative">
            <a href="/blog-details.html">
              <img
                src="images/blog-img/success-blog-3.png"
                alt="Success Img"
                class="w-full h-auto"
              />
              <div
                class="absolute bottom-0 left-0 h-[150px] w-full bg-gradient-to-t from-secondary/95 to-secondary/5"
              ></div>
              <h3 class="text-backgroundBody absolute bottom-6 left-6 z-10">
                Growing brand visibility in competitive markets
              </h3>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
