<!-- ==============================
client-success-stories
============================== -->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-4 justify-center lg:justify-between items-start mb-9 lg:mb-16"
    >
      <!-- Title Area -->
      <div class="flex-1 md:self-start">
        <h2 class="text-appear lg:leading-[1.1]">
          <i class="font-instrument">Proven success </i
          ><br class="hidden lg:block" />
          satisfied clients
        </h2>
      </div>

      <!-- Description -->
      <div class="w-full md:max-w-72 lg:max-w-[470px] self-start md:self-end">
        <p class="text-appear max-w-lg md:text-right md:place-self-end">
          We create more than apps—we create digital experiences.
        </p>
        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/services.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>See Our Work</span>
              </div>
              <div class="rv-button-bottom">
                <span>See Our Work</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Counter section -->
    <div class="grid grid-cols-12 gap-8 justify-items-center mb-14 lg:mb-28">
      <!-- 1 -->
      <div
        class="border-y dark:border-dark py-5 flex flex-col md:flex-row justify-center md:justify-between items-center md:items-start w-full sm:min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me col-span-12 md:col-span-6 lg:col-span-4"
        id="counter"
      >
        <h2 class="md:min-w-[170px] font-instrument">
          <span class="counter" data-value="100"></span>+
        </h2>
        <p class="text-lg">Successful app launches</p>
      </div>
      <!-- 2 -->
      <div
        class="border-y dark:border-dark py-5 flex flex-col md:flex-row justify-center md:justify-between items-center md:items-start w-full sm:min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me col-span-12 md:col-span-6 lg:col-span-4"
        id="counter"
      >
        <h2 class="md:min-w-[170px] font-instrument">
          <span class="counter" data-value="5"></span>+
        </h2>
        <p class="text-lg">Years of experience</p>
      </div>
      <!-- 3 -->
      <div
        class="border-y dark:border-dark py-5 flex flex-col md:flex-row justify-center md:justify-between items-center md:items-start w-full sm:min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me col-span-12 md:col-span-6 lg:col-span-4"
        id="counter"
      >
        <h2 class="md:min-w-[170px] font-instrument">
          <span class="counter" data-value="4.9"></span>
          +
        </h2>
        <p class="text-lg">Star rating from global clients</p>
      </div>
    </div>

    <!-- User Review -->
    <div class="reveal-me">
      <div class="user-swiper-v2 swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="border dark:border-dark p-10 flex gap-3">
              <div class="hidden md:block flex-grow-0">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 60 60"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M23.8286 6V16.9714C21.3264 16.9714 16.9186 17.1793 16.9184 27.1958V32.4H27.6V54H6V32.4V27.1958C6 19.3208 8.03795 13.4729 12.4905 9.81413C15.5705 7.28323 19.2195 6 23.8286 6ZM50.229 6V16.9714C47.7268 16.9714 43.319 17.1793 43.3187 27.1958V32.4H54.0004V54H32.4004V32.4V27.1958C32.4004 19.3208 34.4383 13.4729 38.8909 9.81413C41.9709 7.28323 45.6199 6 50.229 6Z"
                      class="dark:fill-backgroundBody fill-secondary"
                      fill-opacity="0.1"
                    />
                  </svg>
                </span>
              </div>
              <div class="flex-1">
                <p
                  class="text-base md:text-xl italic md:leading-[1.5] mb-[30px]"
                >
                  The skeleton plan of a website can be broken down into three
                  components
                </p>
                <h3 class="text-xl md:text-[30px] md:leading-9 mb-10">
                  Exceptional materials. The most durable glass ever in a <br />
                  smartphone. A beautiful new gold finish, achieved with an
                  atomic-level.
                </h3>
                <div class="flex justify-between items-center">
                  <div class="flex items-center gap-3">
                    <img src="images/avatar/review-5.png" alt="Avatar Img" />
                    <div>
                      <h4 class="text-lg md:text-2xl md:leading-[1.2]">
                        Kathryn Murphy
                      </h4>
                      <p class="text-sm leading-5 font-light">CEO at Vercel</p>
                    </div>
                  </div>
                  <div class="self-end max-xs:hidden">
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="60"
                        height="60"
                        viewBox="0 0 60 60"
                        fill="none"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M36.1714 54L36.1714 43.0286C38.6736 43.0286 43.0814 42.8207 43.0816 32.8042L43.0816 27.6L32.4 27.6L32.4 6L54 6L54 27.6L54 32.8042C54 40.6792 51.9621 46.5271 47.5095 50.1859C44.4295 52.7168 40.7805 54 36.1714 54ZM9.77104 54L9.77104 43.0286C12.2732 43.0286 16.681 42.8207 16.6812 32.8042L16.6812 27.6L5.99961 27.6L5.99961 6L27.5996 6L27.5996 27.6L27.5996 32.8042C27.5996 40.6792 25.5617 46.5271 21.1091 50.1859C18.0291 52.7168 14.3801 54 9.77104 54Z"
                          class="dark:fill-backgroundBody fill-secondary"
                          fill-opacity="0.1"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="border dark:border-dark p-10 flex gap-3">
              <div class="hidden md:block flex-grow-0">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 60 60"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M23.8286 6V16.9714C21.3264 16.9714 16.9186 17.1793 16.9184 27.1958V32.4H27.6V54H6V32.4V27.1958C6 19.3208 8.03795 13.4729 12.4905 9.81413C15.5705 7.28323 19.2195 6 23.8286 6ZM50.229 6V16.9714C47.7268 16.9714 43.319 17.1793 43.3187 27.1958V32.4H54.0004V54H32.4004V32.4V27.1958C32.4004 19.3208 34.4383 13.4729 38.8909 9.81413C41.9709 7.28323 45.6199 6 50.229 6Z"
                      class="dark:fill-backgroundBody fill-secondary"
                      fill-opacity="0.1"
                    />
                  </svg>
                </span>
              </div>
              <div class="flex-1">
                <p
                  class="text-base md:text-xl italic md:leading-[1.5] mb-[30px]"
                >
                  The skeleton plan of a website can be broken down into three
                  components
                </p>
                <h3 class="text-xl md:text-[30px] md:leading-9 mb-10">
                  Exceptional materials. The most durable glass ever in a <br />
                  smartphone. A beautiful new gold finish, achieved with an
                  atomic-level.
                </h3>
                <div class="flex justify-between items-center">
                  <div class="flex items-center gap-3">
                    <img src="images/avatar/review-2.png" alt="Avatar Img" />
                    <div>
                      <h4 class="text-lg md:text-2xl md:leading-[1.2]">
                        John Deo
                      </h4>
                      <p class="text-sm font-poppins leading-5 font-light">
                        CEO at W3School
                      </p>
                    </div>
                  </div>
                  <div class="self-end max-xs:hidden">
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="60"
                        height="60"
                        viewBox="0 0 60 60"
                        fill="none"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M36.1714 54L36.1714 43.0286C38.6736 43.0286 43.0814 42.8207 43.0816 32.8042L43.0816 27.6L32.4 27.6L32.4 6L54 6L54 27.6L54 32.8042C54 40.6792 51.9621 46.5271 47.5095 50.1859C44.4295 52.7168 40.7805 54 36.1714 54ZM9.77104 54L9.77104 43.0286C12.2732 43.0286 16.681 42.8207 16.6812 32.8042L16.6812 27.6L5.99961 27.6L5.99961 6L27.5996 6L27.5996 27.6L27.5996 32.8042C27.5996 40.6792 25.5617 46.5271 21.1091 50.1859C18.0291 52.7168 14.3801 54 9.77104 54Z"
                          class="dark:fill-backgroundBody fill-secondary"
                          fill-opacity="0.1"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="border dark:border-dark p-10 flex gap-3">
              <div class="hidden md:block flex-grow-0">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 60 60"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M23.8286 6V16.9714C21.3264 16.9714 16.9186 17.1793 16.9184 27.1958V32.4H27.6V54H6V32.4V27.1958C6 19.3208 8.03795 13.4729 12.4905 9.81413C15.5705 7.28323 19.2195 6 23.8286 6ZM50.229 6V16.9714C47.7268 16.9714 43.319 17.1793 43.3187 27.1958V32.4H54.0004V54H32.4004V32.4V27.1958C32.4004 19.3208 34.4383 13.4729 38.8909 9.81413C41.9709 7.28323 45.6199 6 50.229 6Z"
                      class="dark:fill-backgroundBody fill-secondary"
                      fill-opacity="0.1"
                    />
                  </svg>
                </span>
              </div>
              <div class="flex-1">
                <p
                  class="text-base md:text-xl italic md:leading-[1.5] mb-[30px]"
                >
                  The skeleton plan of a website can be broken down into three
                  components
                </p>
                <h3 class="text-xl md:text-[30px] md:leading-9 mb-10">
                  Exceptional materials. The most durable glass ever in a <br />
                  smartphone. A beautiful new gold finish, achieved with an
                  atomic-level.
                </h3>
                <div class="flex justify-between items-center">
                  <div class="flex items-center gap-3">
                    <img src="images/avatar/review-8.png" alt="Avatar Img" />
                    <div>
                      <h4 class="text-lg md:text-2xl md:leading-[1.2]">
                        Zaks Addison
                      </h4>
                      <p class="text-sm font-poppins leading-5 font-light">
                        Manager, Operations at Wacomm
                      </p>
                    </div>
                  </div>
                  <div class="self-end max-xs:hidden">
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="60"
                        height="60"
                        viewBox="0 0 60 60"
                        fill="none"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M36.1714 54L36.1714 43.0286C38.6736 43.0286 43.0814 42.8207 43.0816 32.8042L43.0816 27.6L32.4 27.6L32.4 6L54 6L54 27.6L54 32.8042C54 40.6792 51.9621 46.5271 47.5095 50.1859C44.4295 52.7168 40.7805 54 36.1714 54ZM9.77104 54L9.77104 43.0286C12.2732 43.0286 16.681 42.8207 16.6812 32.8042L16.6812 27.6L5.99961 27.6L5.99961 6L27.5996 6L27.5996 27.6L27.5996 32.8042C27.5996 40.6792 25.5617 46.5271 21.1091 50.1859C18.0291 52.7168 14.3801 54 9.77104 54Z"
                          class="dark:fill-backgroundBody fill-secondary"
                          fill-opacity="0.1"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination-v2"></div>
      </div>
    </div>
  </div>
</section>
