<!--=====================================
   Case Studies Section
======================================-->

<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
  <div class="container">
    <!-- Section Header -->
    <div class="text-center mb-10 md:mb-16">
      <h2 class="my-3 text-appear">
        Trusted by leading
        <i class="font-instrument">businesses</i>
      </h2>
      <p class="text-appear">
        We have successfully represented Fortune 500 companies, small
        businesses, and individuals, earning clients' trust across industries.
      </p>
    </div>
    <!-- Logo Container -->
    <div
      class="max-w-4xl mx-auto grid max-md:grid-cols-2 md:grid-cols-4 reveal-me border-t border-x [&>*]:border-r max-md:[&>*:nth-child(2)]:border-r-0 max-md:[&>*:nth-child(6)]:border-r-0 [&>*:nth-child(4)]:border-r-0 [&>*:nth-child(8)]:border-r-0 [&>*]:border-b dark:[&>*]:border-dark dark:border-dark"
    >
      <!-- Logo item -->
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/invert.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/invert-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <!-- Logo item -->
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/greenish.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/greenish-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <!-- Logo item -->
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/invert.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/invert-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <!-- Logo item -->
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/greenish.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/greenish-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>

      <!-- Reverse Marquee -->
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/invert.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/invert-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/greenish.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/greenish-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/invert.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/invert-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/greenish.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/greenish-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
    </div>
  </div>
</section>
