<!--=====================================
   CTA Section
======================================-->
<section class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] relative">
  <div class="container">
    <!-- CTA Heading -->
    <h2
      class="text-center xl:text-[96px] font-normal xl:leading-[1.1] xl:tracking-[-2.88px]"
    >
      Let’s create
      <div
        class="cta-slider-container max-sm:block sm:inline-block max-sm:mb-5 translate-y-2 sm:translate-y-[20px] max-sm:mt-2.5"
      >
        <div class="cta-inline-slider">
          <div class="slide">
            <img src="images/agent/19.png" alt="Slide 1" />
          </div>
          <div class="slide">
            <img src="images/agent/02.jpg" alt="Slide 2" />
          </div>
          <div class="slide">
            <img src="images/agent/03.jpg" alt="Slide 3" />
          </div>
        </div>
      </div>
      a winning
      <span class="font-instrument sm:mt-10 italic block max-md:inline-block"
        >Strategy Together.</span
      >
    </h2>

    <!-- CTA Buttons -->
    <ul class="flex justify-center items-center mt-14 list-none">
      <!-- Primary CTA Button -->
      <li class="block md:inline-block w-full mx-auto md:w-auto text-center">
        <a
          href="/contact.html"
          class="rv-button rv-button-primary block md:inline-block"
        >
          <div class="rv-button-top">
            <span>Get Started Today</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">Get Started Today</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
