<!-- =======================
download-our-apps 
========================= -->
<section
  class="mb-14 pt-14 max-sm:pb-5 md:mb-16 md:pt-16 lg:mb-[88px] lg:pt-[88px] xl:mb-[100px] xl:pt-[100px] mt-14 md:mt-16 lg:mt-[88px] xl:mt-[100px] bg-secondary"
>
  <div class="container">
    <div
      class="flex flex-col md:flex-row justify-center gap-y-6 md:justify-start"
    >
      <figure class="flex-1 reveal-me">
        <img
          src="images/download-app-thumbnail.png"
          alt="download-app-thumbnail"
        />
      </figure>

      <div class="flex-1">
        <h2 class="text-appear md:text-right text-backgroundBody">
          <span class="font-instrument italic">Download our</span>
          <br class="hidden md:block" />
          latest Apps
        </h2>
        <p
          class="text-appear md:text-right text-backgroundBody/70 mt-5 md:mt-10"
        >
          Download now and see what Rivor can build for you.
        </p>
        <ul
          class="justify-self-end max-md:w-full flex flex-col lg:flex-row gap-6 mt-5 md:mt-10 reveal-me"
        >
          <!-- Primary CTA Button -->
          <li
            class="block md:inline-block w-[90%] mx-auto md:ml-auto md:mr-0 md:w-auto"
          >
            <a
              href="#"
              class="rv-button rv-button-primary block md:inline-block"
            >
              <div class="rv-button-top text-nowrap text-center">
                <span> Google Play</span>
              </div>
              <div class="rv-button-bottom text-nowrap">
                <span class="text-nowrap"> Google Play</span>
              </div>
            </a>
          </li>
          <!-- Secondary CTA Button -->
          <li
            class="block md:inline-block w-[90%] mx-auto md:mr-auto md:ml-0 md:w-auto"
          >
            <a href="#" class="rv-button rv-button-white block md:inline-block">
              <div class="rv-button-top text-center">
                <span>App Store</span>
              </div>
              <div class="rv-button-bottom text-center">
                <span>App Store</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
