<!-- ================================
elevate-your-brand-v2 Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- section header -->
    <div
      class="flex flex-col md:flex-row gap-y-3 gap-x-10 justify-center lg:justify-start items-start md:items-center mb-16 md:mb-20"
    >
      <div class="flex-1">
        <h2 class="text-appear-2">
          Helping startups build

          <i class="font-instrument"> the future </i>
        </h2>
      </div>
      <div class="w-full md:w-80 lg:w-96">
        <p
          class="text-appear max-md:text-justify max-w-lg md:place-self-end md:text-right text-appear-2"
        >
          We shape brands that stand the test of time
        </p>

        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/services.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>Explore Our Services</span>
              </div>
              <div class="rv-button-bottom">
                <span>Explore Our Services</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Services container -->

    <div class="[&>*:not(:last-child)]:border-b">
      <!-- 1 -->

      <div
        class="group flex items-start justify-between gap-5 pb-5 md:pb-10 transition-all duration-300 ease-[cubic-bezier(0.4, 0, 0.2, 1)] transform hover:scale-[1.010] hover:-translate-y-1 hover:backdrop-blur-sm"
      >
        <span
          class="text-xl italic font-instrument leading-[32px] text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody transition-colors duration-300 ease-in-out w-8"
          >01</span
        >
        <h3
          class="text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody transition-colors duration-300 ease-in-out text-2xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-[88px] font-normal leading-tight xl:leading-[1.15] tracking-[-2px] xl:tracking-[-2.88px] text-nowrap md:w-[730px] mt-2"
        >
          Branding
        </h3>
        <p
          class="text-xs md:text-base md:leading-[1.6] md:tracking-[0.32px] text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody self-center transition-colors duration-300 ease-in-out ml-2.5 md:w-[370px]"
        >
          Define your mission, values, and market positioning.
        </p>
      </div>

      <!-- 2 -->

      <div
        class="group flex items-start justify-between gap-5 pt-5 md:pt-10 pb-5 md:pb-10 transition-all duration-300 ease-[cubic-bezier(0.4, 0, 0.2, 1)] transform hover:scale-[1.010] hover:-translate-y-1 hover:backdrop-blur-sm"
      >
        <span
          class="text-xl italic font-instrument leading-[32px] text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody transition-colors duration-300 ease-in-out w-8"
          >02</span
        >
        <h3
          class="text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody transition-colors duration-300 ease-in-out text-2xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-[88px] font-normal leading-tight xl:leading-[1.15] tracking-[-2px] xl:tracking-[-2.88px] text-nowrap md:w-[730px] mt-2"
        >
          Product design
        </h3>
        <p
          class="text-xs md:text-base md:leading-[1.6] md:tracking-[0.32px] text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody self-center transition-colors duration-300 ease-in-out ml-2.5 md:w-[370px]"
        >
          Create a compelling logo, color scheme, and typography.
        </p>
      </div>

      <!-- 3 -->

      <div
        class="group flex items-start justify-between gap-5 pt-5 md:pt-10 pb-5 md:pb-10 transition-all duration-300 ease-[cubic-bezier(0.4, 0, 0.2, 1)] transform hover:scale-[1.010] hover:-translate-y-1 hover:backdrop-blur-sm"
      >
        <span
          class="text-xl italic font-instrument leading-[32px] text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody transition-colors duration-300 ease-in-out w-8"
          >03</span
        >
        <h3
          class="text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody transition-colors duration-300 ease-in-out text-2xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-[88px] font-normal leading-tight xl:leading-[1.15] tracking-[-2px] xl:tracking-[-2.88px] text-nowrap md:w-[730px] mt-2"
        >
          Growth strategy
        </h3>
        <p
          class="text-xs md:text-base md:leading-[1.6] md:tracking-[0.32px] text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody self-center transition-colors duration-300 ease-in-out ml-2.5 md:w-[370px]"
        >
          Establish consistency across all brand assets.
        </p>
      </div>

      <!-- 4 -->

      <div
        class="group flex items-start justify-between gap-5 pt-5 md:pt-10 pb-5 md:pb-10 transition-all duration-300 ease-[cubic-bezier(0.4, 0, 0.2, 1)] transform hover:scale-[1.010] hover:-translate-y-1 hover:backdrop-blur-sm"
      >
        <span
          class="text-xl italic font-instrument leading-[32px] text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody transition-colors duration-300 ease-in-out w-8"
          >04</span
        >
        <h3
          class="text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody transition-colors duration-300 ease-in-out text-2xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-[88px] font-normal leading-tight xl:leading-[1.15] tracking-[-2px] xl:tracking-[-2.88px] text-nowrap md:w-[730px] mt-2"
        >
          Development
        </h3>
        <p
          class="text-xs md:text-base md:leading-[1.6] md:tracking-[0.32px] text-secondary/70 dark:text-backgroundBody/70 group-hover:text-secondary dark:group-hover:text-backgroundBody self-center transition-colors duration-300 ease-in-out ml-2.5 md:w-[370px]"
        >
          Establish consistency across all brand assets.
        </p>
      </div>
    </div>
  </div>
</section>
