<!-- ================================
exclusive-travel-deals Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- Section Header -->
    <div class="mb-8 lg:mb-16 text-center">
      <h2 class="mb-3 text-center text-appear">
        Limited-Time travel
        <i class="font-instrument">deals just </i>
        <br class="hidden md:block" />
        <i class="font-instrument">for you! </i>
      </h2>
    </div>

    <!-- Deals-Grid -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 justify-items-center lg:grid-cols-3 gap-6"
    >
      <!-- card-1 -->
      <figure class="relative reveal-me">
        <img
          src="images/travel-blogs/travel-1.png"
          alt="Travel Destinations"
          class="w-full h-auto object-cover"
        />
        <div class="absolute bottom-10 md:bottom-2 xl:bottom-10 left-[30px]">
          <h6 class="text-backgroundBody">Budget travel with comfort.</h6>
          <p class="text-backgroundBody/70 mt-2.5 mb-11">
            Assistance whenever and wherever you need it.
          </p>
          <div class="w-[90%] mx-auto md:w-auto md:mx-0">
            <a
              href="/contact.html"
              class="rv-button rv-button-primary rv-button-sm-v2 block md:inline-block text-center"
            >
              <div class="rv-button-top">
                <span>Book Now</span>
              </div>
              <div class="rv-button-bottom">
                <span>Book Now</span>
              </div>
            </a>
          </div>
        </div>
      </figure>

      <!-- card-2 -->
      <figure class="relative reveal-me">
        <img
          src="images/travel-blogs/travel-2.png"
          alt="Luxury Resorts"
          class="w-full h-auto object-cover"
        />
        <div class="absolute bottom-10 md:bottom-2 xl:bottom-10 left-[30px]">
          <h6 class="text-backgroundBody">Luxury getaways for less.</h6>
          <p class="text-backgroundBody/70 mt-2.5 mb-11">
            Premium experiences at exceptional value.
          </p>
          <div class="w-[90%] mx-auto md:w-auto md:mx-0">
            <a
              href="/contact.html"
              class="rv-button rv-button-primary rv-button-sm-v2 block md:inline-block text-center"
            >
              <div class="rv-button-top">
                <span>View Deals</span>
              </div>
              <div class="rv-button-bottom">
                <span>View Deals</span>
              </div>
            </a>
          </div>
        </div>
      </figure>

      <!-- card-3 -->
      <figure class="relative reveal-me">
        <img
          src="images/travel-blogs/travel-3.png"
          alt="Adventure Tours"
          class="w-full h-auto object-cover"
        />
        <div class="absolute bottom-10 md:bottom-2 xl:bottom-10 left-[30px]">
          <h6 class="text-backgroundBody">Honeymoon & Romantic getaways</h6>
          <p class="text-backgroundBody/70 mt-2.5 mb-11">
            Unforgettable experiences for thrill seekers.
          </p>
          <div class="w-[90%] mx-auto md:w-auto md:mx-0">
            <a
              href="/contact.html"
              class="rv-button rv-button-primary rv-button-sm-v2 block md:inline-block text-center"
            >
              <div class="rv-button-top">
                <span>Explore</span>
              </div>
              <div class="rv-button-bottom">
                <span>Explore</span>
              </div>
            </a>
          </div>
        </div>
      </figure>
    </div>
  </div>
</section>
