<!--=====================================
   Hero Section
======================================-->
<section
  class="pt-[120px] sm:pt-[135px] md:pt-[150px] lg:pt-44 xl:pt-[200px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <!-- Gradient Background Effect -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-fw-full top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 -z-10 blur-[60px] scale-90"
  >
    <img
      src="images/hero-gradient-background-02.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>

  <!-- Hero Content -->
  <div class="container">
    <!-- Status Badge -->
    <div class="flex justify-center items-center reveal-me">
      <div class="rv-badge mb-2">
        <span class="rv-badge-text">AI-Driven Creativity</span>
      </div>
    </div>

    <h1 class="text-center reveal-me">
      Empowering businesses with

      <i class="font-instrument"> AI-Powered</i>
      innovation
    </h1>
    <p class="max-w-3xl text-center mx-auto mt-3 text-appear">
      From intelligent automation to groundbreaking AI solutions, Rivor
      transforms how businesses operate, innovate, and grow.
    </p>

    <!-- Hero Buttons -->
    <ul class="flex justify-center list-none mt-14 reveal-me">
      <li class="text-center w-full">
        <a
          href="/contact.html"
          class="rv-button rv-button-primary block md:inline-block cursor-pointer"
          id="hero-button-02"
        >
          <div class="rv-button-top">
            <span>Discover AI Solutions</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">Discover AI Solutions</span>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- Decorative Images -->

  <figure
    class="absolute top-[42%] -left-[4.5%] hidden md:block reveal-me"
    id="hero-image-1"
  >
    <img src="/images/hero-img/hero-img-05.png" alt="" class="reveal-me" />
  </figure>
  <figure
    class="absolute top-[12%] -right-[5%] hidden md:block reveal-me"
    id="hero-image-2"
  >
    <img src="/images/hero-img/hero-img-06.png" alt="" />
  </figure>
  <figure
    class="absolute bottom-[0%] right-[18.5%] hidden lg:block reveal-me"
    id="hero-image-3"
  >
    <img src="/images/hero-img/hero-img-07.png" alt="" class="reveal-me" />
  </figure>
</section>
