<!-- -============================
 Startup Agency 
================================ -->
<section
  class="relative pt-[137px] md:pt-[160px] xl:pt-[180px] overflow-hidden"
>
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute top-0 md:-top-[10%] left-0 lg:-left-[17%] 2xl:left-0 -z-10 blur-[65px]"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="scale-50 left-0 -top-[10%]"
    />
  </div>
  <div
    class="max-w-[1600px] mx-auto px-4 md:px-[30px] flex flex-col gap-y-10 gap-x-5 lg:flex-row justify-between"
  >
    <!-- Content -->
    <div class="md:flex-1">
      <h1
        class="reveal-me text-5xl sm:text-[55px] md:text-[67px] 2xl:text-8xl font-normal leading-tight 2xl:leading-[1.17] tracking-[-2px] 2xl:tracking-[-2.88px]"
      >
        Helping <br class="hidden lg:block" />
        startups scale <br class="hidden lg:block" />
        &<i class="font-instrument"> design better</i>
      </h1>
      <p class="reveal-me mt-3">
        From branding to digital product development, we turn ideas into
        <br class="hidden lg:block" />
        impactful businesses.
      </p>

      <!-- Hero Buttons -->
      <ul class="mt-7 md:mt-9 lg:mt-14 cursor-pointer reveal-me-2">
        <li>
          <a
            href="/contact.html"
            class="rv-button rv-button-primary rv-button-sm block md:inline-block"
          >
            <div class="rv-button-top text-center">
              <span>Get Started</span>
            </div>
            <div class="rv-button-bottom text-center">
              <span class="text-nowrap">Get Started</span>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="md:flex-1 flex flex-col sm:flex-row gap-5">
      <figure class="mt-[78px] relative">
        <!-- logo -->
        <div
          class="absolute w-[120px] h-[120px] rounded-full flex items-center justify-center mx-auto before:absolute before:content-[''] before:w-[140px] before:h-[140px] before:rounded-full before:bg-white dark:before:bg-secondary -top-[12%] -left-0 lg:-left-[12%]"
        >
          <figure class="relative z-20">
            <img
              src="images/icons/text-circle-logo.png"
              alt="text-circle-logo"
              class="inline dark:hidden"
            />
            <img
              src="images/icons/text-circle-dark-logo.png"
              alt="text-circle-logo"
              class="hidden dark:inline"
            />
          </figure>
          <div
            class="text-2 text-[10px] bg-secondary dark:bg-backgroundBody !w-[120px] !h-[120px] rounded-full"
          >
            Discover other project on Webflow.
          </div>
        </div>

        <img
          src="images/hero-img/startup-hero-1.jpg"
          alt="hero-img"
          class="max-sm:w-full"
        />
      </figure>
      <figure>
        <img
          src="images/hero-img/startup-hero-2.jpg"
          alt="hero-img"
          class="max-sm:w-full"
        />
      </figure>
    </div>
  </div>
</section>
