<!--=====================================
   Hero Section
======================================-->
<section
  class="pt-[137px] md:pt-[180px] lg:pt-[150px] pb-14 md:pb-[90px] lg:pb-[110px] relative overflow-hidden"
>
  <!-- Gradient Background Effect -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-fw-full top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 -z-10 blur-[60px] scale-90"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>

  <!-- Hero Content -->
  <div class="container reveal-me">
    <!-- Top Label -->
    <p
      class="flex text-secondary dark:text-backgroundBody justify-center lg:justify-start items-center gap-5 text-sm font-normal leading-6 tracking-[3px] uppercase"
    >
      <span>Design Agency</span>
      <span
        class="inline-block w-[150px] h-[1px] bg-secondary dark:bg-backgroundBody/70"
      ></span>
      <span>Rivor</span>
    </p>

    <!-- Hero Heading -->
    <h1 class="mt-5 sm:mt-10">
      Transforming Ideas into Digital
      <i class="font-instrument">Masterpieces</i> that Drive
      <i class="font-instrument">Success</i>
    </h1>

    <!-- CTA Buttons -->
    <ul class="flex justify-start list-none mt-14">
      <!-- Primary CTA Button -->
      <li class="block md:inline-block w-full text-center md:w-auto">
        <a
          href="/contact.html"
          class="rv-button rv-button-primary block md:inline-block"
        >
          <div class="rv-button-top">
            <span>Let’s Get Started</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">Let’s Get Started</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
