<section class="relative overflow-hidden">
  <div
    class="relative overflow-hidden pt-28 md:pt-36 lg:pt-[220px] pb-12 sm:pb-28 lg:pb-[120px]"
  >
    <!-- Gradient Background Wrapper -->
    <div
      id="hero-gradient-wrapper"
      class="absolute w-full h-full top-[37%] left-0 -z-10 blur-[35px] md:blur-[60px] sm:scale-50 md:scale-75 lg:scale-90"
    >
      <img
        src="images/hero-gradient-background.png"
        alt="hero-gradient-background"
        id="hero-gradient"
        class="absolute left-1/2 top-[1/2] -translate-x-1/2 -translate-y-1/2"
      />
    </div>
    <div class="container">
      <div class="reveal-me text-center">
        <h1 class="font-semibold">
          <span class="font-instrument italic block font-normal">Rivor</span>
          Creative Design Agency
        </h1>

        <!-- Hero Buttons -->
        <ul class="flex justify-center list-none mt-10 md:mt-14">
          <!-- Primary CTA Button -->
          <li class="block md:inline-block w-full text-center md:w-auto">
            <a
              href="/contact.html"
              class="rv-button rv-button-sm rv-button-primary block md:inline-block"
            >
              <div class="rv-button-top">
                <span>Let’s Talk</span>
              </div>
              <div class="rv-button-bottom">
                <span class="text-nowrap">Let’s Talk</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <figure class="w-full reveal-me scale-small-img">
    <img
      src="images/hero-banner.png"
      alt="Hero Banner Big Image"
      class="w-full"
    />
  </figure>
</section>
