<section
  class="pt-[130px] md:pt-[160px] xl:pt-[200px] pb-20 md:pb-24 lg:pb-32 xl:pb-[180px] relative overflow-hidden reveal-me"
>
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px] sm:scale-75 md:scale-100"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>
  <div class="container">
    <!-- Status Badge -->
    <div class="flex justify-center items-center">
      <div class="rv-badge mb-2">
        <span class="rv-badge-text">Studio</span>
      </div>
    </div>

    <h1 class="text-center">
      Experience the Art of <br />
      <i class="font-instrument"> Photography</i>
    </h1>
    <p class="max-w-3xl text-center mx-auto mt-3">
      We transform your special moments into unforgettable visual stories with
      expert craftsmanship and a creative touch
    </p>

    <!-- Hero Buttons -->
    <ul class="flex justify-center list-none mt-14">
      <li class="text-center inline cursor-pointer" id="hero-button">
        <a
          href="/contact.html"
          id="hero-button"
          class="rv-button rv-button-primary block md:inline-block"
        >
          <div class="rv-button-top">
            <span>Let’s Get Started</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">Let’s Get Started</span>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- Decorative Images -->

  <figure
    class="absolute top-[12%] lg:top-[15%] left-[8%] lg:left-[24%] hidden md:block"
    id="random-1"
  >
    <img src="/images/home-4/random-1.png" alt="" class="decorative-image" />
  </figure>
  <figure
    class="absolute top-[7%] lg:top-[11%] right-[15%] lg:right-[29%] hidden md:block"
    id="random-2"
  >
    <img src="/images/home-4/random-2.png" alt="" class="decorative-image" />
  </figure>
  <figure class="absolute top-[42%] left-[2%] hidden lg:block" id="random-3">
    <img src="/images/home-4/random-3.png" alt="" class="decorative-image" />
  </figure>
  <figure class="absolute top-[32%] hidden lg:block right-[2%]" id="random-4">
    <img src="/images/home-4/random-4.png" alt="" class="decorative-image" />
  </figure>
  <figure
    class="absolute bottom-[4%] lg:bottom-[7%] left-[12%] lg:left-[23%] hidden md:block"
    id="random-5"
  >
    <img src="/images/home-4/random-5.png" alt="" class="decorative-image" />
  </figure>
  <figure
    class="absolute bottom-[1%] lg:bottom-[3%] right-[3%] lg:right-[5%] hidden md:block"
    id="random-6"
  >
    <img src="/images/home-4/random-6.png" alt="" class="decorative-image" />
  </figure>
</section>
