<!--=====================================
   Hero Section
======================================-->
<section class="relative lg:h-screen h-[80vh] w-screen overflow-hidden">
  <video
    class="w-full h-full absolute top-0 left-0 object-cover z-[-1]"
    autoplay
    muted
    loop
  >
    <source src="images/promo.mp4" type="video/mp4" />
    <track
      src="subtitles/lawyer-hero-video-en.vtt"
      kind="subtitles"
      srclang="en"
      label="English"
    />
    <track
      src="descriptions/lawyer-hero-video-desc.vtt"
      kind="descriptions"
      srclang="en"
      label="English Descriptions"
    />
    Your browser does not support the video tag.
  </video>
  <!-- Hero Content -->
  <div
    class="container reveal-me absolute top-2/3 -translate-y-2/3 lg:top-1/2 lg:-translate-y-1/2 left-1/3 -translate-x-1/3"
  >
    <h1 class="mb-3 text-backgroundBody max-md:leading-none">
      Crafting <br class="hidden md:block" />
      unforgettable
      <br class="hidden md:block" />
      <i class="font-instrument text-inherit">cinematic </i>

      <i class="font-instrument text-inherit">experiences</i>
    </h1>
    <p class="max-w-3xl text-backgroundBody/70">
      From award-winning films to high-end commercials, Rivor blends artistry
      and technology to bring your vision to life.
    </p>

    <!-- Primary CTA Button -->
    <ul class="flex justify-start list-none mt-7 lg:mt-14">
      <li class="block md:inline-block w-full text-center md:w-auto">
        <a
          href="/project.html"
          class="rv-button rv-button-primary block md:inline-block"
        >
          <div class="rv-button-top">
            <span>Explore Our Work</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">Explore Our Work</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
