<!--=====================================
   Hero Section
======================================-->
<section
  class="pt-[137px] md:pt-[180px] lg:pt-[150px] pb-14 md:pb-[90px] lg:pb-[110px] relative overflow-hidden"
>
  <!-- Gradient Background Effect -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-fw-full top-1/2 -translate-y-1/2 -z-10 blur-[90px] scale-75"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute top-1/2 -translate-y-1/2"
    />
  </div>

  <!-- Hero Content -->
  <div class="container reveal-me">
    <!-- Hero Heading -->
    <h1
      class="mt-5 sm:mt-10 xl:leading-[1.1] border-y border-secondary/40 dark:border-backgroundBody/40 py-6 lg:py-10 mb-6 md:mb-10"
    >
      The right words. <i class="font-instrument">The right strategy.</i> The
      right results.
    </h1>

    <p class="md:max-w-[670px]">
      We are Rivor, a copywriting and content agency dedicated to helping brands
      grow through engaging, high-impact writing.
    </p>
    <!-- CTA Buttons -->
    <ul class="flex justify-start list-none mt-8 md:mt-14">
      <!-- Primary CTA Button -->
      <li class="block md:inline-block w-full text-center md:w-auto">
        <a
          href="/contact.html"
          class="rv-button rv-button-sm rv-button-primary block md:inline-block"
        >
          <div class="rv-button-top">
            <span>Let’s Talk</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">Let’s Talk</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
