<!--=====================================
   Communication Hero Section 
======================================-->
<section
  class="pt-[107px] md:pt-[100px] xl:pt-[120px] relative bg-[url('/images/hero-img/hero-gradient-bg.png')] dark:bg-none bg-cover object-cover object-center bg-no-repeat video-section overflow-hidden"
>
  <div
    class="max-w-[1600px] hero-video-container mx-auto px-4 md:px-[30px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
  >
    <div class="flex flex-col lg:flex-row gap-x-20 gap-y-14 items-center">
      <!-- Video Section -->
      <div class="lg:w-1/2 xl:min-h-[700px] reveal-me group relative">
        <a
          href="https://www.youtube.com/watch?v=CfZ9kIK4tKU"
          class="hero-video h-full"
          aria-label="Watch our video"
        >
          <!-- Play Button -->
          <div
            class="absolute bottom-10 xl:bottom-10 left-11 cursor-pointer"
            id="play-icon"
          >
            <div
              class="dark:bg-backgroundBody/50 bg-secondary/50 flex bg-blend-lighten items-center pl-0.5 justify-center size-10 rounded-full transition-all duration-300 ease-in-out group-hover:scale-110"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="16"
                viewBox="0 0 15 16"
                fill="none"
                aria-hidden="true"
              >
                <path
                  d="M13.6848 7.50412L1.99138 1.08687C1.89294 1.03237 1.78009 1.00244 1.66446 1.00014C1.54883 0.997848 1.43461 1.02328 1.33359 1.07381C1.23256 1.12434 1.14839 1.19815 1.08975 1.28761C1.03111 1.37707 1.00013 1.47895 1 1.58274V14.4173C1.00013 14.521 1.03111 14.6229 1.08975 14.7124C1.14839 14.8019 1.23256 14.8757 1.33359 14.9262C1.43461 14.9767 1.54883 15.0022 1.66446 14.9999C1.78009 14.9976 1.89294 14.9676 1.99138 14.9131L13.6848 8.49588C13.7808 8.44492 13.8604 8.37239 13.9157 8.28544C13.9709 8.19849 14 8.10011 14 8C14 7.89989 13.9709 7.80152 13.9157 7.71456C13.8604 7.62761 13.7808 7.55508 13.6848 7.50412V7.50412Z"
                  class="stroke-backgroundBody"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <img
            src="images/hero-img/video-thumbnail.png"
            alt="Video thumbnail showing company overview"
            width="800"
            height="450"
          />
        </a>
      </div>

      <!-- Content Section -->
      <div class="lg:w-1/2">
        <h1
          class="reveal-me text-[42px] md:text-[47px] lg:text-[54px] xl:text-[64px] font-normal leading-[1.3] md:leading-[1.2] lg:leading-[1.24]"
        >
          Your reputation, our <br class="hidden lg:block" />
          expertise.

          <i class="font-instrument">Let's make</i>
          <br class="hidden lg:block" />
          <i class="font-instrument">headlines</i>
        </h1>
        <p class="reveal-me max-w-xl">
          At Rivor, we craft strategic PR campaigns that elevate brands, manage
          crises, and build lasting trust.
        </p>

        <!-- CTA Button -->
        <div class="mt-7 md:mt-9 lg:mt-14 reveal-me-2">
          <a
            href="/contact.html"
            class="rv-button rv-button-primary rv-button-sm block md:inline-block"
          >
            <div class="rv-button-top text-center">
              <span>Talk to an Expert</span>
            </div>
            <div class="rv-button-bottom text-center">
              <span class="text-nowrap">Talk to an Expert</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
