<!--=====================================
   Hero Section
======================================-->
<section
  class="pt-[120px] sm:pt-[135px] md:pt-[150px] lg:pt-44 xl:pt-48 pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] overflow-hidden"
>
  <div class="relative">
    <!-- Gradient Background Effect -->
    <div
      class="absolute w-full h-fw-full top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 -z-10 blur-[60px] scale-75"
    >
      <img
        src="images/hero-gradient-bg.png"
        alt="hero-gradient-background"
        class="absolute left-[42%] top-[44%] -translate-x-1/2 -translate-y-1/2"
      />
    </div>

    <!-- Hero Content -->
    <div class="container reveal-me">
      <h1 class="text-center">
        Unforgettable journeys,

        <i class="font-instrument"> expertly planned</i>
      </h1>
      <p class="max-w-3xl text-center mx-auto mt-3">
        From exotic escapes to thrilling adventures, Rivor Travels creates
        experiences that go beyond expectations. Your dream trip starts here!
      </p>

      <!-- Hero Buttons -->
      <ul class="flex justify-center list-none mt-14 cursor-pointer">
        <li class="text-center w-full">
          <a
            href="/contact.html"
            class="rv-button rv-button-primary block md:inline-block"
          >
            <div class="rv-button-top">
              <span>Plan Your Trip</span>
            </div>
            <div class="rv-button-bottom">
              <span class="text-nowrap">Plan Your Trip</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- About-Hero Image Content -->
  <div class="container pt-14 md:pt-28">
    <div
      class="flex max-lg:flex-wrap items-start justify-center max-lg:gap-y-5 md:space-x-5 overflow-hidden"
    >
      <figure
        class="h-[450px] lg:min-h-[660px] about-image reveal-me-2 about-active-image cursor-pointer"
      >
        <img
          src="images/hero-img/about-hero-1.png"
          alt="About-Hero"
          class="w-full h-full object-cover"
        />
      </figure>
      <figure
        class="h-[450px] lg:min-h-[660px] about-image reveal-me-2 cursor-pointer"
      >
        <img
          src="images/hero-img/about-hero-2.png"
          alt="About-Hero"
          class="w-full h-full object-cover"
        />
      </figure>
      <figure
        class="h-[450px] lg:min-h-[660px] about-image reveal-me-2 cursor-pointer"
      >
        <img
          src="images/hero-img/about-hero-3.png"
          alt="About-Hero"
          class="w-full h-full object-cover"
        />
      </figure>
    </div>
  </div>
</section>
