<!--=====================================
   Innovative  Hero Section 
======================================-->
<section
  class="pt-[107px] md:pt-[130px] xl:pt-[180px] relative bg-[url('/images/hero-img/hero-gradient-bg.png')] bg-cover object-cover bg-no-repeat overflow-hidden"
>
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[85px] md:blur-[80px]"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-0 top-1/2 max-md:-translate-y-[60%] lg:scale-75 xl:scale-100 md:-translate-y-1/2"
    />
  </div>

  <div
    class="max-w-[1300px] mx-auto px-4 md:px-[30px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] video-section"
  >
    <div class="flex flex-col lg:flex-row gap-8 items-end">
      <!-- Content -->
      <div class="lg:w-[65%]">
        <h1 class="reveal-me">
          Innovative <br class="hidden lg:block" />
          marketing for <br class="hidden lg:block" />
          <i class="font-instrument">business growth</i>
        </h1>
        <p class="reveal-me">
          From startups to enterprises, we craft marketing strategies that
          increase visibility, boost conversions, and drive revenue.
        </p>

        <!-- Hero Buttons -->
        <ul class="mt-7 md:mt-9 lg:mt-14 cursor-pointer reveal-me">
          <li>
            <a
              href="/contact.html"
              class="rv-button rv-button-primary block md:inline-block"
            >
              <div class="rv-button-top text-center">
                <span>Get a Free Strategy Call</span>
              </div>
              <div class="rv-button-bottom text-center">
                <span class="text-nowrap">Get a Free Strategy Call</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- video -->
      <div class="lg:w-[34%] reveal-me">
        <div class="flex items-center lg:flex-col xl:flex-row gap-x-5">
          <!-- user overlap image -->
          <div class="flex [&>*:not(:first-child)]:-ml-4 my-3">
            <img
              src="/images/avatar/review-19.png"
              class="border-2 border-secondary size-12 md:size-[60px] object-cover rounded-[48px] md:rounded-[60px]"
              alt="User Review Image"
            />
            <img
              src="/images/avatar/review-20.png"
              class="border-2 border-secondary size-12 md:size-[60px] object-cover rounded-[48px] md:rounded-[60px]"
              alt="User Review Image"
            />
            <img
              src="/images/avatar/review-21.png"
              class="border-2 border-secondary size-12 md:size-[60px] object-cover rounded-[48px] md:rounded-[60px]"
              alt="User Review Image"
            />
            <a href="#">
              <figure
                class="hover:scale-105 duration-300 ease-in-out max-md:size-12"
              >
                <img
                  src="images/icons/plus-icon.svg"
                  class="block dark:hidden"
                  alt="Arrow Icon"
                />
                <img
                  src="images/icons/plus-icon-white.svg"
                  alt="Arrow Icon"
                  class="dark:block hidden"
                />
              </figure>
            </a>
          </div>

          <p class="text-[17px] leading-[1.4]">
            Trusted by over + 20K <br />
            people in the World
          </p>
        </div>

        <div
          class="w-full hero-video-container group h-full cursor-pointer relative mt-5 md:mt-[30px]"
        >
          <a
            href="https://www.youtube.com/watch?v=CfZ9kIK4tKU"
            class="hero-video"
          >
            <div class="absolute top-[40%] left-[45%] -translate-x-[45%]">
              <div
                class="dark:bg-backgroundBody bg-secondary flex items-center justify-center size-12 md:size-[60px] md:rounded-[60px] rounded-[48px] transform transition-transform duration-300 group-hover:scale-105"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="18"
                  viewBox="0 0 15 18"
                  fill="none"
                >
                  <path
                    d="M14.4886 8.40229L1.47805 0.667204C1.36852 0.601523 1.24296 0.565438 1.1143 0.562672C0.985649 0.559906 0.858564 0.590558 0.74616 0.651467C0.633755 0.712376 0.540101 0.801336 0.474856 0.90917C0.409612 1.017 0.375142 1.13981 0.375 1.26491V16.7351C0.375142 16.8602 0.409612 16.983 0.474856 17.0908C0.540101 17.1987 0.633755 17.2876 0.74616 17.3485C0.858564 17.4094 0.985649 17.4401 1.1143 17.4373C1.24296 17.4346 1.36852 17.3985 1.47805 17.3328L14.4886 9.59771C14.5954 9.53629 14.684 9.44887 14.7454 9.34406C14.8069 9.23925 14.8393 9.12066 14.8393 9C14.8393 8.87934 14.8069 8.76076 14.7454 8.65594C14.684 8.55113 14.5954 8.46371 14.4886 8.40229V8.40229Z"
                    class="dark:fill-[#181818] fill-backgroundBody"
                  />
                </svg>
              </div>
            </div>

            <img src="images/hero-img/video-img.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
