<!-- -============================
 Startup Agency Hero Section
================================ -->
<section
  id="hero"
  class="relative pt-[137px] md:pt-[160px] xl:pt-[220px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[112px] overflow-hidden"
  aria-labelledby="hero-heading"
>
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute top-0 left-0 -z-10 blur-[65px]"
    aria-hidden="true"
  >
    <img
      src="images/hero-gradient-background.png"
      alt=""
      id="hero-gradient"
      class="left-0 top-0"
      role="presentation"
    />
  </div>
  <div
    class="flex max-w-[1600px] mx-auto px-6 md:px-14 flex-col gap-y-8 xl:flex-row justify-start xl:justify-between items-start reveal-me"
  >
    <!-- Content -->
    <div class="flex-1">
      <h1
        id="hero-heading"
        class="reveal-me text-5xl sm:text-[55px] md:text-[67px] 2xl:text-8xl font-normal leading-tight 2xl:leading-[1.17] tracking-[-2px] 2xl:tracking-[-2.88px]"
      >
        Transform <br class="hidden md:block" />
        business with <br class="hidden md:block" />
        <span class="font-instrument"> consulting</span>
      </h1>
      <p class="reveal-me mt-3 max-w-xl">
        We provide expert advice and actionable strategies to help you grow,
        streamline operations, and stay ahead in a competitive market.
      </p>

      <!-- Hero Buttons -->
      <div class="mt-7 md:mt-9 lg:mt-14">
        <a
          href="/contact.html"
          class="rv-button rv-button-primary rv-button-sm block md:inline-block"
          aria-label="Book a Free Consultation"
        >
          <div class="rv-button-top text-center">
            <span>Book a Free Consultation</span>
          </div>
          <div class="rv-button-bottom text-center">
            <span class="text-nowrap">Book a Free Consultation</span>
          </div>
        </a>
      </div>
    </div>

    <div
      class="flex gap-5 md:flex-row flex-col flex-1 w-full"
      aria-label="Business consulting imagery"
    >
      <figure>
        <img
          src="images/hero-img/business-hero-1.png"
          alt="Business professionals in a consultation meeting"
          class="w-full md:w-[410px] h-auto md:h-[540px] object-cover"
          width="410"
          height="540"
        />
      </figure>
      <figure>
        <img
          src="images/hero-img/business-hero-2.png"
          alt="Business growth and strategy visualization"
          class="w-full md:w-[410px] h-auto md:h-[540px] object-cover"
          width="410"
          height="540"
        />
      </figure>
    </div>
  </div>
</section>
