<section
  class="relative z-20 w-full max-sm:pt-32 max-2xl:pt-40 2xl:min-h-screen flex items-center justify-center overflow-hidden"
>
  <!-- Background Images -->
  <figure class="absolute top-0 left-0 hidden 2xl:block" id="hero-1">
    <img
      src="images/home-3/hero-v8-img-1.png"
      alt="Abstract Top Left"
      class="w-full h-full object-cover"
    />
  </figure>
  <figure class="absolute top-0 right-0 hidden 2xl:block" id="hero-2">
    <img
      src="images/home-3/hero-v8-img-2.png"
      alt="Abstract Top Right"
      class="w-full h-full object-cover"
    />
  </figure>
  <figure class="absolute bottom-0 left-0 hidden 2xl:block" id="hero-3">
    <img
      src="images/home-3/hero-v8-img-3.png"
      alt="Abstract Bottom Left"
      class="w-full h-full object-cover"
    />
  </figure>
  <figure class="absolute bottom-0 right-0 hidden 2xl:block" id="hero-4">
    <img
      src="images/home-3/hero-v8-img-4.png"
      alt="Abstract Bottom Right"
      class="w-full h-full object-cover"
    />
  </figure>

  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px] block 2xl:hidden scale-90"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 max-md:-translate-y-1/2 md:-translate-y-1/2"
    />
  </div>

  <!-- Content -->
  <div class="relative text-center z-10 px-4 reveal-me">
    <h1
      class="text-7xl sm:text-8xl md:text-[255px] lg:text-[338px] font-medium lg:leading-[338px] lg:tracking-[-10.14px] uppercase"
    >
      RIVOR
    </h1>
    <h2 class="mt-3">
      Powering <br />
      businesses with <br />
      modern tech
    </h2>

    <!-- Hero Buttons -->
    <ul class="flex justify-center list-none mt-14">
      <!-- Primary CTA Button -->
      <li class="block md:inline-block w-full text-center md:w-auto">
        <a
          href="/contact.html"
          class="rv-button rv-button-primary block md:inline-block"
        >
          <div class="rv-button-top">
            <span>Get Consultation</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">Get Consultation</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
