<!-- ================================
latest-trends-blog Section 
================================ -->

<section
  class="mt-14 md:mt-16 lg:mt-[88px] xl:mt-[100px] pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] mb-14 md:mb-[272px] lg:mb-[260px] xl:mb-[250px] bg-[#DDF3EC] relative w-full"
>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-4 justify-center lg:justify-between items-start mb-16 lg:mb-24"
    >
      <!-- Title Area -->
      <div class="flex-1 md:self-start">
        <h2 class="text-appear dark:text-secondary">
          The latest trends &
          <i class="font-instrument dark:text-secondary"> expert insights </i>
        </h2>
      </div>

      <!-- Description -->
      <div class="w-full md:max-w-[370px] lg:max-w-[470px] md:self-end">
        <p
          class="text-appear dark:text-colorText max-w-lg md:text-right md:place-self-end"
        >
          Discover key trends and insights to elevate your organization.
        </p>
        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/contact.html"
              class="rv-button rv-button-white !bg-[#DDF3EC] block md:inline-block"
            >
              <div
                class="rv-button-top dark:!border-secondary/30 !bg-[#DDF3EC]"
              >
                <span class="!text-secondary">Read More Articles</span>
              </div>
              <div class="rv-button-bottom">
                <span>Read More Articles</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Cards Grid -->

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 relative">
      <!-- Card 1 -->
      <div class="relative group">
        <div>
          <figure class="w-full reveal-me overflow-hidden">
            <img
              src="images/travel-blogs/latest-blog-1.jpg"
              alt="Hidden Destinations"
              class="w-full h-auto object-cover transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
            />
          </figure>

          <div
            class="absolute top-[22%] sm:top-[38%] md:top-1/2 lg:top-3/4 inset-x-[5px] mx-auto bg-backgroundBody dark:bg-dark px-6 pt-6 pb-8 max-w-[calc(100%-10px)] reveal-me"
          >
            <div class="rv-badge mb-3">
              <span class="rv-badge-text">Budget Travel</span>
            </div>

            <div class="blog-title mb-7">
              <a href="/blog-details.html">
                <h3 class="text-[34px] lg:leading-[1.05] font-normal">
                  Creating an effective digital marketing
                </h3>
              </a>
            </div>

            <div class="w-[90%] mx-auto md:w-auto md:mx-0">
              <a
                href="/blog-details.html"
                class="rv-button rv-button-white rv-button-sm-v2 block md:inline-block text-center"
              >
                <div class="rv-button-top">
                  <span>Read More</span>
                </div>
                <div class="rv-button-bottom">
                  <span>Read More</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="relative group">
        <figure class="w-full reveal-me">
          <img
            src="images/travel-blogs/latest-blog-2.jpg"
            alt="Hidden Destinations"
            class="w-full h-auto object-cover transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
          />
        </figure>

        <div
          class="absolute top-1/4 md:top-1/2 lg:top-3/4 inset-x-[5px] mx-auto bg-backgroundBody dark:bg-dark px-6 pt-6 pb-8 max-w-[calc(100%-10px)] reveal-me"
        >
          <div class="rv-badge mb-3">
            <span class="rv-badge-text">Nature</span>
          </div>

          <div class="blog-title mb-7">
            <a href="/blog-details.html">
              <h3 class="text-[34px] lg:leading-[1.05] font-normal">
                SEO vs. PPC
              </h3>
            </a>
          </div>

          <div class="w-[90%] mx-auto md:w-auto md:mx-0">
            <a
              href="/blog-details.html"
              class="rv-button rv-button-white rv-button-sm-v2 block md:inline-block text-center"
            >
              <div class="rv-button-top">
                <span>Read More</span>
              </div>
              <div class="rv-button-bottom">
                <span>Read More</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="relative group">
        <figure class="w-full reveal-me">
          <img
            src="images/travel-blogs/latest-blog-3.jpg"
            alt="Hidden Destinations"
            class="w-full h-auto object-cover transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
          />
        </figure>

        <div
          class="absolute top-1/4 md:top-1/2 lg:top-3/4 inset-x-[5px] mx-auto bg-backgroundBody dark:bg-dark px-6 pt-6 pb-8 max-w-[calc(100%-10px)] reveal-me"
        >
          <div class="rv-badge mb-3">
            <span class="rv-badge-text">Adventure</span>
          </div>

          <div class="blog-title mb-7">
            <a href="/blog-details.html">
              <h3 class="text-[34px] lg:leading-[1.05] font-normal">
                The future of social media advertising
              </h3>
            </a>
          </div>

          <div class="w-[90%] mx-auto md:w-auto md:mx-0">
            <a
              href="/blog-details.html"
              class="rv-button rv-button-white rv-button-sm-v2 block md:inline-block text-center"
            >
              <div class="rv-button-top">
                <span>Read More</span>
              </div>
              <div class="rv-button-bottom">
                <span>Read More</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
