<!--=====================================
   Company Logos Marquee Section
======================================-->
<section
  class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[200px]"
  aria-labelledby="partners-heading"
>
  <div>
    <!-- Section Header -->
    <h2 id="partners-heading" class="sr-only">Our Trusted Partners</h2>
    <p class="container text-center mb-10 lg:mb-16 reveal-me">
      Driving engagement and revenue for top brands worldwide.
    </p>

    <!-- Marquee Container -->
    <section
      class="relative overflow-hidden"
      aria-label="Partner logos carousel"
    >
      <!-- Pause on hover/focus for accessibility -->
      <div
        class="z-50 flex gap-px w-fit flex-nowrap whitespace-nowrap will-change-transform marquee-inner reveal-me"
        aria-live="off"
      >
        <!-- Marquee Items with Unique and Descriptive Alt Text -->
        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <!-- Light/Dark Mode Logo Variants -->
          <img
            src="images/marquee-img/invert.svg"
            alt="Invert Inc."
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Invert Inc."
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Greenish Media"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Greenish Media"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/invert.svg"
            alt="Invert Solutions"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Invert Solutions"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Greenish Analytics"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Greenish Analytics"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/invert.svg"
            alt="Invert Digital"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Invert Digital"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Greenish Tech"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Greenish Tech"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/invert.svg"
            alt="Invert Group"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Invert Group"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Greenish Partners"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Greenish Partners"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/invert.svg"
            alt="Invert Brands"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Invert Brands"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>

        <div
          class="bg-backgroundBody dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Greenish Global"
            class="inline-block dark:hidden"
            width="120"
            height="60"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Greenish Global"
            class="dark:inline-block hidden"
            width="120"
            height="60"
          />
        </div>
      </div>
    </div>
  </div>
</section>
