<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <div class="text-center mb-8 md:mb-16">
      <div class="rv-badge mb-3 reveal-me">
        <span class="rv-badge-text">Our Portfolio</span>
      </div>
      <h2 class="text-appear">
        A glimpse of our
        <i class="font-instrument">unforgettable </i>
        <br class="hidden md:block" />
        <i class="font-instrument">events </i>
      </h2>
    </div>
  </div>
  <!-- Clients Logo Marquee -->
  <div class="marquee-container reveal-me">
    <div class="flex items-center justify-around gap-5 md:gap-[30px]">
      <div
        class="min-w-60 md:min-w-[370px] h-72 md:h-[460px] ml-5 md:ml-[30px]"
      >
        <img
          src="images/marquee-img/our-portfolio-01.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[460px]">
        <img
          src="images/marquee-img/our-portfolio-02.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[460px]">
        <img
          src="images/marquee-img/our-portfolio-03.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[460px]">
        <img
          src="images/marquee-img/our-portfolio-04.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[460px]">
        <img
          src="images/marquee-img/our-portfolio-05.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>

  <!-- Reverse -->
  <div class="marquee-reverse-container reveal-me">
    <div
      class="flex items-center justify-around gap-5 md:gap-[30px] pt-5 md:pt-[30px]"
    >
      <div
        class="min-w-60 md:min-w-[370px] h-72 md:h-[460px] ml-5 md:ml-[30px]"
      >
        <img
          src="images/marquee-img/our-portfolio-06.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[460px]">
        <img
          src="images/marquee-img/our-portfolio-07.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[460px]">
        <img
          src="images/marquee-img/our-portfolio-08.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[460px]">
        <img
          src="images/marquee-img/our-portfolio-09.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[460px]">
        <img
          src="images/marquee-img/our-portfolio-10.png"
          alt="client Logo"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
