<!-- ================================
our-work-v2 Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] overflow-hidden"
>
  <!-- section header -->
  <div class="text-center mb-8 md:mb-16">
    <div class="rv-badge reveal-me mb-3">
      <span class="rv-badge-text">Our Creative Impact</span>
    </div>
    <h2 class="text-appear mb-3">
      Brand identities that <br />
      speak

      <i class="font-instrument"> for themselves</i>
    </h2>
    <p class="text-appear">A Legacy of Award-Winning productions</p>
  </div>

  <!--Our Project container -->

  <div
    class="grid grid-cols-1 md:grid-cols-2 justify-items-center items-center md:items-start gap-[30px] gap-y-10 mb-[60px] max-w-[1500px] px-5 mx-auto relative md:before:content-[''] md:before:absolute md:before:w-[1px] md:before:h-full md:before:bg-secondary/10 md:dark:before:bg-backgroundBody/10 after:content-[''] after:absolute after:w-full after:h-[1px] after:top-1/2 after:bg-secondary/10 dark:after:bg-backgroundBody/10"
  >
    <!-- project-1 -->
    <div class="reveal-me underline-hover-effect group w-full">
      <a href="project-details.html" class="block">
        <figure class="overflow-hidden w-full">
          <img
            src="images/project-3/branding-project-1.png"
            class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
            alt="Blog Images"
          />
        </figure>
      </a>

      <a href="project-details.html" class="mt-[30px] block">
        <div class="blog-title">
          <h3>Lubbya haria Magadir</h3>
        </div>

        <p
          class="text-xs text-secondary/70 dark:text-backgroundBody/70 leading-[1.2] tracking-[0.96px] uppercase mt-3.5"
        >
          A complete rebrand that positioned them as a global icon.
        </p>
      </a>
    </div>
    <!-- project-2 -->
    <div class="reveal-me underline-hover-effect group w-full">
      <a href="project-details.html" class="block">
        <figure class="overflow-hidden w-full">
          <img
            src="images/project-3/branding-project-2.png"
            class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
            alt="Blog Images"
          />
        </figure>
      </a>

      <a href="project-details.html" class="mt-[30px] block">
        <div class="blog-title">
          <h3>Lubbya haria Magadir</h3>
        </div>

        <p
          class="text-xs text-secondary/70 dark:text-backgroundBody/70 leading-[1.2] tracking-[0.96px] uppercase mt-3.5"
        >
          A complete rebrand that positioned them as a global icon.
        </p>
      </a>
    </div>
    <!-- project-3 -->
    <div class="reveal-me underline-hover-effect group w-full">
      <a href="project-details.html" class="block">
        <figure class="overflow-hidden w-full">
          <img
            src="images/project-3/branding-project-3.png"
            class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
            alt="Blog Images"
          />
        </figure>
      </a>

      <a href="project-details.html" class="mt-[30px] block">
        <div class="blog-title">
          <h3>Lubbya haria Magadir</h3>
        </div>

        <p
          class="text-xs text-secondary/70 dark:text-backgroundBody/70 leading-[1.2] tracking-[0.96px] uppercase mt-3.5"
        >
          A complete rebrand that positioned them as a global icon.
        </p>
      </a>
    </div>
    <!-- project-4 -->
    <div class="reveal-me underline-hover-effect group w-full">
      <a href="project-details.html" class="block">
        <figure class="overflow-hidden w-full">
          <img
            src="images/project-3/branding-project-4.png"
            class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
            alt="Blog Images"
          />
        </figure>
      </a>

      <a href="project-details.html" class="mt-[30px] block">
        <div class="blog-title">
          <h3>Lubbya haria Magadir</h3>
        </div>

        <p
          class="text-xs text-secondary/70 dark:text-backgroundBody/70 leading-[1.2] tracking-[0.96px] uppercase mt-3.5"
        >
          A complete rebrand that positioned them as a global icon.
        </p>
      </a>
    </div>
  </div>
  <ul class="flex justify-center reveal-me px-5">
    <li
      class="block md:inline-block max-md:w-full mx-auto md:ml-auto md:w-auto"
    >
      <a
        href="/project.html"
        class="rv-button rv-button-secondary block md:inline-block text-center"
      >
        <div class="rv-button-top">
          <span>View More Projects</span>
        </div>
        <div class="rv-button-bottom">
          <span>View More Projects</span>
        </div>
      </a>
    </li>
  </ul>
</section>
