<!--=====================================
   Portfolio Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <!-- Section Header -->

    <div
      class="flex flex-col md:flex-row gap-y-6 gap-x-10 justify-center lg:justify-start items-start md:items-end mb-10 md:mb-20"
    >
      <div class="md:flex-1">
        <div class="rv-badge reveal-me">
          <span class="rv-badge-text">Success Stories</span>
        </div>
        <h2 class="text-appear mt-3">
          Real results

          <span class="font-instrument italic"> real impact</span>
        </h2>
      </div>
      <div class="max-md:w-full md:flex-1">
        <p class="text-appear md:text-right">
          Words that win customers, Build trust & increase revenue
        </p>

        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/project.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>More Case Studies</span>
              </div>
              <div class="rv-button-bottom">
                <span>More Case Studies</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Case Studies Container -->
    <div class="mb-[60px] space-y-[30px]">
      <!-- Case Study 1 - Cloud Storage -->
      <div
        class="flex flex-col lg:flex-row items-center relative reveal-me underline-hover-effect group"
      >
        <!-- Case Study Image -->
        <figure class="max-w-[870px] -z-30 overflow-hidden">
          <a href="project-details.html" class="block">
            <img
              src="images/home-5/case-study-3.png"
              class="w-full h-full group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
              alt="case-studies Img"
            />
          </a>
        </figure>

        <!-- Overlapping Content Card -->
        <div
          class="p-[30px] z-30 max-md:-mt-5 lg:absolute lg:right-0 bg-backgroundBody dark:bg-dark border border-black/10 dark:border-white/10 w-full lg:max-w-[570px]"
        >
          <div class="blog-title mb-3.5 lg:mb-5">
            <a href="project-details.html">
              <h3
                class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
              >
                E-Commerce brand: 3x sales growth
              </h3>
            </a>
          </div>
          <ul class="mb-10 pl-5">
            <li class="list-disc text-secondary/70 dark:text-backgroundBody/70">
              Challenge: Weak brand messaging, low engagement.
            </li>
            <li class="list-disc text-secondary/70 dark:text-backgroundBody/70">
              Solution: Complete website copy overhaul, and optimized product
              descriptions.
            </li>
          </ul>

          <!-- Case Study Button -->
          <a href="project-details.html" class="rv-button rv-button-white">
            <div class="rv-button-top text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="inline dark:hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="hidden dark:inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
            <div class="rv-button-bottom text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="dark:inline hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="dark:hidden inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
          </a>
        </div>
      </div>

      <!-- Case Study 2 - AI Finance -->
      <div
        class="flex flex-col lg:flex-row items-center relative reveal-me underline-hover-effect group"
      >
        <!-- Case Study Image -->
        <figure class="max-w-[870px] -z-30 overflow-hidden">
          <a href="project-details.html" class="block">
            <img
              src="images/home-5/case-study-4.png"
              class="w-full h-full group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
              alt="case-studies Img"
            />
          </a>
        </figure>

        <!-- Overlapping Content Card -->
        <div
          class="p-[30px] z-30 max-md:-mt-5 lg:absolute lg:right-0 bg-backgroundBody dark:bg-dark border border-black/10 dark:border-white/10 w-full lg:max-w-[570px]"
        >
          <div class="blog-title mb-3.5 lg:mb-5">
            <a href="project-details.html">
              <h3
                class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
              >
                SaaS company: 40% boost in conversions
              </h3>
            </a>
          </div>
          <ul class="mb-10 pl-5">
            <li class="list-disc text-secondary/70 dark:text-backgroundBody/70">
              Challenge: Ineffective ad copy, poor click-through rate.
            </li>
            <li class="list-disc text-secondary/70 dark:text-backgroundBody/70">
              Results: 40% increase in conversion rates, lower cost per
              acquisition.
            </li>
          </ul>

          <!-- Case Study Button -->
          <a href="project-details.html" class="rv-button rv-button-white">
            <div class="rv-button-top text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="inline dark:hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="hidden dark:inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
            <div class="rv-button-bottom text-center">
              <span class="mr-2">Read Case Study</span>
              <img
                class="dark:inline hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="dark:hidden inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
