<section class="overflow-hidden">
  <div
    class="relative bg-[url('/images/agent/press-feature.png')] bg-no-repeat bg-cover bg-center overflow-hidden py-40 bg-fixed"
  >
    <!-- Gradient Overlay -->
    <div
      class="absolute inset-0 bg-[linear-gradient(0deg,rgba(21,21,21,0.9)_0%,rgba(21,21,21,0.9)_100%)] z-0"
    ></div>

    <!-- Content Wrapper -->
    <div class="relative container z-10 text-center">
      <h2 class="text-backgroundBody max-md:text-5xl text-appear-2">
        As seen in top media
        <i class="italic text-inherit font-instrument">outlets</i>
      </h2>

      <div class="flex flex-wrap justify-center mt-6 gap-4 reveal-me">
        <!-- Box 1 -->
        <div
          class="min-w-[200px] min-h-[100px] flex items-center justify-center border border-dark"
        >
          <img src="/images/icons/forbes.svg" alt="forbes" />
        </div>
        <!-- Box 2 -->
        <div
          class="min-w-[200px] min-h-[100px] flex items-center justify-center border border-dark"
        >
          <img src="/images/icons/wsj.svg" alt="wsj" />
        </div>
        <!-- Box 3 -->
        <div
          class="min-w-[200px] min-h-[100px] flex items-center justify-center border border-dark"
        >
          <img src="/images/icons/cnn.svg" alt="cnn" />
        </div>
        <!-- Box 4 -->
        <div
          class="min-w-[200px] min-h-[100px] flex items-center justify-center border border-dark"
        >
          <img src="/images/icons/tc.svg" alt="tc" />
        </div>
      </div>

      <!-- CTA Button -->
      <div class="mt-7 md:mt-9 lg:mt-14 reveal-me">
        <a
          href="/contact.html"
          class="rv-button rv-button-secondary block md:inline-block"
        >
          <div class="rv-button-top text-center">
            <span>View Our Press Features</span>
          </div>
          <div class="rv-button-bottom text-center">
            <span class="text-nowrap">View Our Press Features</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
