<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- Section Header -->
    <div class="text-center">
      <!-- Status Badge -->
      <div class="rv-badge mb-3">
        <span class="rv-badge-text">Open for new work</span>
      </div>
      <h2 class="mb-7 lg:mb-14 text-center text-appear">
        Bringing ideas to life, <i class="font-instrument">Seamlessly</i>
      </h2>
    </div>

    <!-- Process Steps Container -->
    <div
      class="flex max-md:flex-wrap gap-[30px] justify-center service-item-wrapper"
    >
      <!-- Step 1 - Keyword Research -->
      <div
        class="flex flex-col justify-center items-center relative reveal-me pt-[100px]"
      >
        <h2 class="service-item-number"></h2>
        <h5 class="mb-5">Keyword Research</h5>
        <p class="text-center">Dive deep into your market, understand your</p>
      </div>

      <!-- Step 2 - Link Building -->
      <div
        class="flex flex-col justify-center items-center relative reveal-me pt-[100px]"
      >
        <h2 class="service-item-number"></h2>
        <h5 class="mb-5">Link Building</h5>
        <p class="text-center">Dive deep into your market, understand your</p>
      </div>

      <!-- Step 3 - Ranking -->
      <div
        class="flex flex-col justify-center items-center relative reveal-me pt-[100px]"
      >
        <h2 class="service-item-number"></h2>
        <h5 class="mb-5">Ranking</h5>
        <p class="text-center">Dive deep into your market, understand your</p>
      </div>
    </div>
    <!--  Buttons -->
    <ul class="flex justify-center list-none mt-14">
      <!-- Primary CTA Button -->
      <li class="block md:inline-block w-full text-center md:w-auto">
        <a
          href="/project-03.html"
          class="rv-button rv-button-primary block md:inline-block"
        >
          <div class="rv-button-top">
            <span>Let’s Start Your Project</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">Let’s Start Your Project</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
