<!--=====================================
   Process Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <!-- Section Header -->
    <div class="text-center mb-8 md:mb-14">
      <div class="rv-badge reveal-me">
        <span class="rv-badge-text">Process</span>
      </div>
      <h2 class="my-3 text-appear">
        Our way of,
        <i class="font-instrument"> doing things </i>
      </h2>
      <p class="text-appear">
        Let me know if you need something more tailored!
      </p>
    </div>

    <!-- content Area -->

    <div class="flex flex-col-reverse md:flex-row gap-y-14 gap-x-[100px]">
      <div class="md:w-1/2 [&>*]:border-b [&>*:not(first-child)]:mb-5">
        <div class="reveal-me">
          <h5 class="lg:-tracking-[-1.08px]">Concept & Planning</h5>
          <p class="py-3 leading-[1.6] text-base">
            We begin by understanding your goals, audience, and vision. Through
            collaboration, we develop a creative concept, plan the production,
            and finalize the details to ensure everything aligns with your
            expectations.
          </p>
        </div>
        <div class="reveal-me">
          <h5 class="lg:-tracking-[-1.08px]">Production & Filming</h5>
          <p class="py-3 leading-[1.6] text-base">
            With the plan in place, our experienced team gets to work on set. We
            handle everything from lighting to cinematography, capturing the
            highest quality footage while staying true to the creative vision.
          </p>
        </div>
        <div class="reveal-me">
          <h5 class="lg:-tracking-[-1.08px]">Editing & Finalization</h5>
          <p class="py-3 leading-[1.6] text-base">
            Once filming is complete, we move into editing. Our team refines the
            footage, adds effects, music, and any necessary revisions, ensuring
            the final video exceeds your expectations. After approval, we
            deliver the polished video ready for distribution.
          </p>
        </div>
      </div>
      <figure class="md:w-1/2 reveal-me">
        <img
          src="/images/home-5/process-thumbnail.png"
          alt="Marketing professional"
          class="w-full h-full"
        />
      </figure>
    </div>
  </div>
</section>
