<!-- ================================
Process-v7 Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- Section Header -->
    <div class="text-center">
      <h2 class="mb-7 lg:mb-14 text-center text-appear">
        From concept to
        <i class="font-instrument">AI-Powered </i>
        <br class="hidden md:block" />
        <i class="font-instrument">execution</i>
      </h2>
    </div>

    <!-- Process Steps Container -->
    <div
      class="flex max-md:flex-wrap gap-[30px] justify-center service-item-wrapper"
    >
      <!-- Step 1 - Consultation Research -->
      <div
        class="flex flex-col justify-center items-center relative reveal-me pt-[100px]"
      >
        <h2 class="service-item-number"></h2>
        <h5 class="mb-5">Consultation</h5>
        <p class="text-center">Understanding your business needs.</p>
      </div>

      <!-- Step 2 - AI model -->
      <div
        class="flex flex-col justify-center items-center relative reveal-me pt-[100px]"
      >
        <h2 class="service-item-number"></h2>
        <h5 class="mb-5">AI model development</h5>
        <p class="text-center">Crafting custom AI solutions.</p>
      </div>

      <!-- Step 3 - AI Scaling -->
      <div
        class="flex flex-col justify-center items-center relative reveal-me pt-[100px]"
      >
        <h2 class="service-item-number"></h2>
        <h5 class="mb-5">Scaling for growth</h5>
        <p class="text-center">Scalable AI solutions for your business.</p>
      </div>
    </div>
    <!-- button-primary -->
    <ul class="flex justify-center mt-14 reveal-me">
      <li>
        <a href="contact.html" class="rv-button rv-button-sm rv-button-primary">
          <div class="rv-button-top">
            <span>Let’s Talk</span>
          </div>
          <div class="rv-button-bottom">
            <span>Let’s Talk</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
