<!-- ================================
production-showcase Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- section header -->
    <div class="text-center mb-8 md:mb-16">
      <div class="rv-badge reveal-me mb-3">
        <span class="rv-badge-text">Our Work</span>
      </div>
      <h2 class="text-appear mb-3">
        Stories that resonate, <br />
        productions
        <i class="font-instrument"> that inspire</i>
      </h2>
      <p class="text-appear">A legacy of Award-Winning productions</p>
    </div>

    <!--section container -->

    <div
      class="grid grid-cols-1 md:grid-cols-2 justify-items-center items-center md:items-start gap-[30px] gap-y-10 mb-[60px]"
    >
      <!-- production-1 -->
      <div
        class="reveal-me border dark:border-dark px-3.5 md:px-5 pt-3.5 md:pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/portfolio/films-production-blog-1.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2.5">
          <p
            class="text-[13px] leading-[14.4px] tracking-[0.96px] uppercase font-normal text-secondary dark:text-white"
          >
            may 10, 2020
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              Lubbya haria Magadir
            </h3>
          </div>
        </a>
      </div>
      <!-- production-2 -->
      <div
        class="reveal-me border dark:border-dark px-3.5 md:px-5 pt-3.5 md:pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/portfolio/films-production-blog-2.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2.5">
          <p
            class="text-[13px] leading-[14.4px] tracking-[0.96px] uppercase font-normal text-secondary dark:text-white"
          >
            June 10, 2024
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              Banjama
            </h3>
          </div>
        </a>
      </div>
      <!-- production-3 -->
      <div
        class="reveal-me border dark:border-dark px-3.5 md:px-5 pt-3.5 md:pt-5 pb-7 underline-hover-effect group col-span-full"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/portfolio/films-production-blog-3.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2.5">
          <p
            class="text-[13px] leading-[14.4px] tracking-[0.96px] uppercase font-normal text-secondary dark:text-white"
          >
            September 10, 2024
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              Mercedes benz commercial
            </h3>
          </div>
        </a>
      </div>
    </div>
    <ul class="flex justify-center reveal-me">
      <li
        class="block md:inline-block max-md:w-full mx-auto md:ml-auto md:w-auto"
      >
        <a
          href="/project.html"
          class="rv-button rv-button-secondary block md:inline-block text-center"
        >
          <div class="rv-button-top">
            <span>See Project</span>
          </div>
          <div class="rv-button-bottom">
            <span>See Project</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
