<!-- =======================
Blog Postv6 
======================= -->

<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-y-5 gap-x-10 justify-center lg:justify-start items-start md:items-center mb-10 md:mb-20"
    >
      <div class="flex-1">
        <h2 class="text-appear">
          Our featured <br class="hidden md:block" />
          <span class="font-instrument italic pr-[4px]">projects</span>
        </h2>
      </div>
      <div class="flex-1 max-w-md">
        <p class="text-appear max-md:text-justify md:text-right">
          Include a portfolio grid showcasing previous branding & startup
          projects
        </p>
        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/project-02.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>View More Projects</span>
              </div>
              <div class="rv-button-bottom">
                <span>View More Projects</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- =======Blogs======= -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 justify-items-center items-center md:items-start gap-8 gap-y-12"
    >
      <div class="reveal-me underline-hover-effect group relative">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-26.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>

        <a href="project-details.html">
          <div class="blog-title">
            <h3>Haliya mono</h3>
          </div>
        </a>
        <p
          class="text-[13px] leading-4 tracking-[2px] mt-3 uppercase font-normal text-secondary dark:text-backgroundBody"
        >
          Innovative design solutions for a growing tech brand.
        </p>
        <div class="border-b dark:border-dark mt-[30px]"></div>

        <!-- Blog Hover Button -->
        <a href="project-details.html">
          <div
            class="uppercase absolute top-1/2 left-1/2 -translate-x-[90%] translate-y-[35%] group-hover:translate-x-[-50%] group-hover:translate-y-[-50%] transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 flex justify-center items-center gap-1 bg-primary px-8 py-6 w-[136px] h-[74px] scale-95 group-hover:scale-100"
          >
            <span class="text-secondary">view</span>
            <img
              src="/images/home-5/ArrowUpRight-dark.svg"
              alt="ArrowUpRight-dark"
            />
          </div>
        </a>
      </div>

      <div class="reveal-me underline-hover-effect group relative">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-27.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <a href="project-details.html">
          <div class="blog-title">
            <h3>Atlas chatart</h3>
          </div>
        </a>
        <p
          class="text-[13px] leading-4 tracking-[2px] mt-3 uppercase font-normal text-secondary dark:text-backgroundBody"
        >
          A disruptive branding project for a global SaaS company.
        </p>
        <div class="border-b dark:border-dark mt-[30px]"></div>
        <!-- Blog Hover Button -->
        <a href="project-details.html">
          <div
            class="uppercase absolute top-1/2 left-1/2 -translate-x-[90%] translate-y-[35%] group-hover:translate-x-[-50%] group-hover:translate-y-[-50%] transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 flex justify-center items-center gap-1 bg-primary px-8 py-6 w-[136px] h-[74px] scale-95 group-hover:scale-100"
          >
            <span class="text-secondary">view</span>
            <img
              src="/images/home-5/ArrowUpRight-dark.svg"
              alt="ArrowUpRight-dark"
            />
          </div>
        </a>
      </div>

      <div class="reveal-me underline-hover-effect group relative">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-28.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <a href="project-details.html">
          <div class="blog-title">
            <h3>O mobilya</h3>
          </div>
        </a>
        <p
          class="text-[13px] leading-4 tracking-[2px] mt-3 uppercase font-normal text-secondary dark:text-backgroundBody"
        >
          Digital transformation for a new eCommerce platform.
        </p>
        <div class="border-b dark:border-dark mt-[30px]"></div>
        <!-- Blog Hover Button -->
        <a href="project-details.html">
          <div
            class="uppercase absolute top-1/2 left-1/2 -translate-x-[90%] translate-y-[35%] group-hover:translate-x-[-50%] group-hover:translate-y-[-50%] transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 flex justify-center items-center gap-1 bg-primary px-8 py-6 w-[136px] h-[74px] scale-95 group-hover:scale-100"
          >
            <span class="text-secondary">view</span>
            <img
              src="/images/home-5/ArrowUpRight-dark.svg"
              alt="ArrowUpRight-dark"
            />
          </div>
        </a>
      </div>

      <div class="reveal-me underline-hover-effect group relative">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-29.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <a href="project-details.html">
          <div class="blog-title">
            <h3>Brandom asly</h3>
          </div>
        </a>
        <p
          class="text-[13px] leading-4 tracking-[2px] mt-3 uppercase font-normal text-secondary dark:text-backgroundBody"
        >
          Innovative design solutions for a growing tech brand.
        </p>
        <div class="border-b dark:border-dark mt-[30px]"></div>
        <!-- Blog Hover Button -->
        <a href="project-details.html">
          <div
            class="uppercase absolute top-1/2 left-1/2 -translate-x-[90%] translate-y-[35%] group-hover:translate-x-[-50%] group-hover:translate-y-[-50%] transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 flex justify-center items-center gap-1 bg-primary px-8 py-6 w-[136px] h-[74px] scale-95 group-hover:scale-100"
          >
            <span class="text-secondary">view</span>
            <img
              src="/images/home-5/ArrowUpRight-dark.svg"
              alt="ArrowUpRight-dark"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
