<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] service-section relative overflow-hidden"
>
  <div class="container">
    <h2>Our SEO Expertise</h2>
  </div>
  <article
    class="mt-16 flex flex-col md:flex-row md:flex-nowrap md:w-fit gap-6 md:pl-[20%] max-md:px-5 md:pr-10 service-wrapper overflow-x-hidden reveal-me"
  >
    <div class="w-[332px] grid content-between max-h-[404px]">
      <p
        class="text-secondary dark:text-backgroundBody text-sm leading-[1.1] tracking-[3px] uppercase"
      >
        Our services
      </p>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="97"
          height="96"
          viewBox="0 0 97 96"
          fill="none"
        >
          <path
            d="M60.5 48L78.5 66M78.5 66L60.5 84M78.5 66H24.5V12"
            class="stroke-secondary dark:stroke-backgroundBody"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <!-- Card-01 -->
    <div
      class="border dark:border-dark group p-5 md:p-[30px] md:w-[740px] lg:w-[890px]"
    >
      <a href="/services-details.html">
        <div class="flex flex-col md:flex-row gap-y-7 md:gap-x-12 items-start">
          <!-- Image -->
          <figure class="max-md:w-full">
            <img
              src="/images/home-5/seo-service-1.png"
              alt="Keyword Research"
              class="w-full h-auto"
            />
          </figure>

          <!-- Icon and Description -->
          <div class="flex flex-col justify-between">
            <!-- Icon Figure -->
            <figure
              class="bg-backgroundBody dark:bg-dark border dark:border-dark group-hover:border-none transition-all group-hover:bg-primary duration-500 p-7 lg:p-8 cursor-pointer relative size-20 overflow-hidden self-end mt-2 mb-[50px] hidden md:block"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 block dark:hidden"
              />

              <img
                src="images/home-5/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 dark:block hidden"
              />

              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-16 -translate-x-[47px] transition-all duration-500 group-hover:translate-x-0 group-hover:-translate-y-[3px] opacity-0 group-hover:opacity-100"
              />
            </figure>

            <!-- Description -->
            <p class="text-base lg:text-lg">
              Identifying high-impact keywords to improve search rankings and
              drive targeted traffic.
            </p>
          </div>
        </div>

        <!-- Title and Number -->
        <div class="sm:mt-2 flex justify-between items-end">
          <h4
            class="text-[25px] lg:text-[46px] lg:leading-[1.1] lg:tracking-[-1.44px]"
          >
            Keyword Research
          </h4>
          <span
            class="text-black/10 dark:text-backgroundBody/10 text-5xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-8xl font-normal leading-[1.1] tracking-[-2px] xl:tracking-[-2.88px]"
          >
            01
          </span>
        </div>
      </a>
    </div>
    <!-- Card-02 -->
    <div
      class="border dark:border-dark group p-5 md:p-[30px] md:w-[740px] lg:w-[890px]"
    >
      <a href="/services-details.html">
        <div class="flex flex-col md:flex-row gap-y-7 md:gap-x-12 items-start">
          <!-- Image -->
          <figure class="max-md:w-full">
            <img
              src="/images/home-5/seo-service-2.png"
              alt="Keyword Research"
              class="w-full h-auto"
            />
          </figure>

          <!-- Icon and Description -->
          <div class="flex flex-col justify-between">
            <!-- Icon Figure -->
            <figure
              class="bg-backgroundBody dark:bg-dark border dark:border-dark group-hover:border-none transition-all group-hover:bg-primary duration-500 p-7 lg:p-8 cursor-pointer relative size-20 overflow-hidden self-end mt-2 mb-[50px] hidden md:block"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 block dark:hidden"
              />

              <img
                src="images/home-5/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 dark:block hidden"
              />

              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-16 -translate-x-[47px] transition-all duration-500 group-hover:translate-x-0 group-hover:-translate-y-[3px] opacity-0 group-hover:opacity-100"
              />
            </figure>

            <!-- Description -->
            <p class="text-base lg:text-lg">
              Acquiring high-quality backlinks to enhance website authority and
              improve SEO performance.
            </p>
          </div>
        </div>

        <!-- Title and Number -->
        <div class="sm:mt-2 flex justify-between items-end">
          <h4
            class="text-[25px] lg:text-[46px] lg:leading-[1.1] lg:tracking-[-1.44px]"
          >
            Link Building
          </h4>
          <span
            class="text-black/10 dark:text-backgroundBody/10 text-5xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-8xl font-normal leading-[1.1] tracking-[-2px] xl:tracking-[-2.88px]"
          >
            02
          </span>
        </div>
      </a>
    </div>
    <!-- Card-03 -->
    <div
      class="border dark:border-dark group p-5 md:p-[30px] md:w-[740px] lg:w-[890px]"
    >
      <a href="/services-details.html">
        <div class="flex flex-col md:flex-row gap-y-7 md:gap-x-12 items-start">
          <!-- Image -->
          <figure class="max-md:w-full">
            <img
              src="/images/home-5/seo-service-3.png"
              alt="Keyword Research"
              class="w-full h-auto"
            />
          </figure>

          <!-- Icon and Description -->
          <div class="flex flex-col justify-between">
            <!-- Icon Figure -->
            <figure
              class="bg-backgroundBody dark:bg-dark border dark:border-dark group-hover:border-none transition-all group-hover:bg-primary duration-500 p-7 lg:p-8 cursor-pointer relative size-20 overflow-hidden self-end mt-2 mb-[50px] hidden md:block"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 block dark:hidden"
              />

              <img
                src="images/home-5/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 dark:block hidden"
              />

              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-16 -translate-x-[47px] transition-all duration-500 group-hover:translate-x-0 group-hover:-translate-y-[3px] opacity-0 group-hover:opacity-100"
              />
            </figure>

            <!-- Description -->
            <p class="text-base lg:text-lg">
              Optimizing website structure, speed, and indexing to ensure better
              search engine visibility.
            </p>
          </div>
        </div>

        <!-- Title and Number -->
        <div class="sm:mt-2 flex justify-between items-end">
          <h4
            class="text-[25px] lg:text-[46px] lg:leading-[1.1] lg:tracking-[-1.44px]"
          >
            Technical SEO
          </h4>
          <span
            class="text-black/10 dark:text-backgroundBody/10 text-5xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-8xl font-normal leading-[1.1] tracking-[-2px] xl:tracking-[-2.88px]"
          >
            03
          </span>
        </div>
      </a>
    </div>
    <!-- Card-04 -->
    <div
      class="border dark:border-dark group p-5 md:p-[30px] md:w-[740px] lg:w-[890px]"
    >
      <a href="/services-details.html">
        <div class="flex flex-col md:flex-row gap-y-7 md:gap-x-12 items-start">
          <!-- Image -->
          <figure class="max-md:w-full">
            <img
              src="/images/home-5/seo-service-4.png"
              alt="Keyword Research"
              class="w-full h-auto"
            />
          </figure>

          <!-- Icon and Description -->
          <div class="flex flex-col justify-between">
            <!-- Icon Figure -->
            <figure
              class="bg-backgroundBody dark:bg-dark border dark:border-dark group-hover:border-none transition-all group-hover:bg-primary duration-500 p-7 lg:p-8 cursor-pointer relative size-20 overflow-hidden self-end mt-2 mb-[50px] hidden md:block"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 block dark:hidden"
              />

              <img
                src="images/home-5/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 dark:block hidden"
              />

              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-16 -translate-x-[47px] transition-all duration-500 group-hover:translate-x-0 group-hover:-translate-y-[3px] opacity-0 group-hover:opacity-100"
              />
            </figure>

            <!-- Description -->
            <p class="text-base lg:text-lg">
              Optimizing website content, meta tags, and structure to improve
              search rankings and user experience.
            </p>
          </div>
        </div>

        <!-- Title and Number -->
        <div class="sm:mt-2 flex justify-between items-end">
          <h4
            class="text-[25px] lg:text-[46px] lg:leading-[1.1] lg:tracking-[-1.44px]"
          >
            On-Page SEO
          </h4>
          <span
            class="text-black/10 dark:text-backgroundBody/10 text-5xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-8xl font-normal leading-[1.1] tracking-[-2px] xl:tracking-[-2.88px]"
          >
            04
          </span>
        </div>
      </a>
    </div>
  </article>
</section>
