<!-- ================================
Service V17 Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <!-- Section Header -->
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-y-6 gap-x-10 justify-center lg:justify-start items-start md:items-end mb-10 md:mb-20"
    >
      <div class="md:flex-1">
        <div class="rv-badge reveal-me">
          <span class="rv-badge-text">Services</span>
        </div>
        <h2 class="text-appear mt-3">
          Copy that

          <span class="font-instrument italic">drives growth</span>
        </h2>
      </div>
      <div class="max-md:w-full md:flex-1">
        <p class="text-appear md:text-right">
          Words that win customers, Build trust & increase revenue
        </p>

        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/services.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>Explore Our Services</span>
              </div>
              <div class="rv-button-bottom">
                <span>Explore Our Services</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Main Section  -->

  <div
    class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-[30px] max-w-[1600px] px-4 md:px-[30px] mx-auto"
  >
    <!-- Card-1 -->
    <div
      class="px-6 lg:px-[30px] py-9 lg:py-[50px] border dark:border-dark group reveal-me"
    >
      <a href="services-details.html">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
          >
            <rect
              width="60"
              height="60"
              class="fill-backgroundBody dark:fill-dark"
            />
            <path
              d="M25.3946 37.5H15.082C14.8334 37.5 14.5949 37.4012 14.4191 37.2254C14.2433 37.0496 14.1445 36.8111 14.1445 36.5625V26.25C14.1445 23.2663 15.3298 20.4048 17.4396 18.295C19.5494 16.1853 22.4108 15 25.3945 15H25.3945C28.3782 15 31.2397 16.1853 33.3495 18.295C35.4593 20.4048 36.6445 23.2663 36.6445 26.25V26.25C36.6445 29.2337 35.4593 32.0952 33.3495 34.205C31.2397 36.3147 28.3782 37.5 25.3946 37.5V37.5Z"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M24.7842 37.4996C25.5605 39.693 26.9976 41.5919 28.8976 42.9349C30.7976 44.278 33.0671 44.9991 35.3939 44.9991H45.7064C45.955 44.9991 46.1935 44.9004 46.3693 44.7245C46.5451 44.5487 46.6439 44.3103 46.6439 44.0616V33.7491C46.6438 30.8718 45.5414 28.1039 43.5632 26.0145C41.5851 23.9251 38.8816 22.673 36.0086 22.5156"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <h5 class="mt-4 lg:mt-6 mb-2 lg:mb-3">Brand messaging</h5>
        <p class="mb-20 lg:mb-[106px]">
          Define your voice and establish authority.
        </p>

        <div
          class="border dark:border-dark p-8 max-lg:size-16 lg:w-[92px] lg:h-24 flex items-center justify-center group-hover:bg-secondary dark:group-hover:bg-backgroundBody transition-colors duration-[400ms] ease-team-bezier overflow-hidden"
        >
          <span
            class="translate-x-4 group-hover:translate-x-20 transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span
            class="-translate-x-24 group-hover:-translate-x-[18px] transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
      </a>
    </div>
    <!-- Card-2 -->
    <div
      class="px-6 lg:px-[30px] py-9 lg:py-[50px] border dark:border-dark group reveal-me"
    >
      <a href="services-details.html">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
          >
            <rect
              width="60"
              height="60"
              class="fill-backgroundBody dark:fill-dark"
            />
            <path
              d="M30.25 30V15"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M43.24 22.5L17.2593 37.5"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.5001 32.7441C14.8507 29.2295 15.4755 25.5984 17.2625 22.503C19.0494 19.4076 21.8814 17.0507 25.2498 15.8555V27.1152L15.5001 32.7441Z"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M30.2503 15C32.8784 15.0005 35.4601 15.6914 37.7371 17.0036C40.0141 18.3158 41.9064 20.2032 43.2245 22.4768C44.5426 24.7503 45.2402 27.3303 45.2475 29.9583C45.2548 32.5863 44.5715 35.1702 43.2661 37.451C41.9607 39.7319 40.0789 41.6298 37.8092 42.9546C35.5395 44.2794 32.9616 44.9847 30.3337 44.9998C27.7057 45.0148 25.1199 44.3392 22.8351 43.0405C20.5504 41.7419 18.647 39.8657 17.3154 37.6"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <h5 class="mt-4 lg:mt-6 mb-2 lg:mb-3">SEO copywriting</h5>
        <p class="mb-20 lg:mb-[106px]">
          Rank higher and convert visitors into customers.
        </p>

        <div
          class="border dark:border-dark p-8 max-lg:size-16 lg:w-[92px] lg:h-24 flex items-center justify-center group-hover:bg-secondary dark:group-hover:bg-backgroundBody transition-colors duration-[400ms] ease-team-bezier overflow-hidden"
        >
          <span
            class="translate-x-4 group-hover:translate-x-20 transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span
            class="-translate-x-24 group-hover:-translate-x-[18px] transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
      </a>
    </div>
    <!-- Card-3 -->
    <div
      class="px-6 lg:px-[30px] py-9 lg:py-[50px] border dark:border-dark group reveal-me"
    >
      <a href="services-details.html">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
          >
            <rect
              width="60"
              height="60"
              class="fill-backgroundBody dark:fill-dark"
            />
            <path
              d="M31 41H25C23.4087 41 21.8826 40.3679 20.7574 39.2426C19.6321 38.1174 19 36.5913 19 35V25C19 23.4087 19.6321 21.8826 20.7574 20.7574C21.8826 19.6321 23.4087 19 25 19H35C36.5913 19 38.1174 19.6321 39.2426 20.7574C40.3679 21.8826 41 23.4087 41 25V31C40 34 34 40 31 41Z"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M31 41V37C31 35.4087 31.6321 33.8826 32.7574 32.7574C33.8826 31.6321 35.4087 31 37 31H41"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <h5 class="mt-4 lg:mt-6 mb-2 lg:mb-3">Advertising copy</h5>
        <p class="mb-20 lg:mb-[106px]">Persuasive copy designed to sell.</p>
        <div
          class="border dark:border-dark p-8 max-lg:size-16 lg:w-[92px] lg:h-24 flex items-center justify-center group-hover:bg-secondary dark:group-hover:bg-backgroundBody transition-colors duration-[400ms] ease-team-bezier overflow-hidden"
        >
          <span
            class="translate-x-4 group-hover:translate-x-20 transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span
            class="-translate-x-24 group-hover:-translate-x-[18px] transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
      </a>
    </div>
    <!-- Card-4 -->
    <div
      class="px-6 lg:px-[30px] py-9 lg:py-[50px] border dark:border-dark group reveal-me"
    >
      <a href="services-details.html">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
          >
            <rect
              width="60"
              height="60"
              class="fill-backgroundBody dark:fill-dark"
            />
            <path
              d="M18 35.5L30 42.5L42 35.5"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M18 29.5L30 36.5L42 29.5"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M18 23.5L30 30.5L42 23.5L30 16.5L18 23.5Z"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <h5 class="mt-4 lg:mt-6 mb-2 lg:mb-3">Thought leadership</h5>
        <p class="mb-20 lg:mb-[106px]">
          Expert-driven content that builds credibility.
        </p>
        <div
          class="border dark:border-dark p-8 max-lg:size-16 lg:w-[92px] lg:h-24 flex items-center justify-center group-hover:bg-secondary dark:group-hover:bg-backgroundBody transition-colors duration-[400ms] ease-team-bezier overflow-hidden"
        >
          <span
            class="translate-x-4 group-hover:translate-x-20 transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span
            class="-translate-x-24 group-hover:-translate-x-[18px] transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
      </a>
    </div>

    <!-- Card-5 -->
    <div
      class="px-6 lg:px-[30px] py-9 lg:py-[50px] border dark:border-dark group reveal-me"
    >
      <a href="services-details.html">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
          >
            <rect
              width="60"
              height="60"
              class="fill-backgroundBody dark:fill-dark"
            />
            <path
              d="M22.4479 32L17.5 36V20C17.5 19.7348 17.6054 19.4804 17.7929 19.2929C17.9804 19.1054 18.2348 19 18.5 19H34.5C34.7652 19 35.0196 19.1054 35.2071 19.2929C35.3946 19.4804 35.5 19.7348 35.5 20V31C35.5 31.2652 35.3946 31.5196 35.2071 31.7071C35.0196 31.8946 34.7652 32 34.5 32H22.4479Z"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M23.5 32V37C23.5 37.2652 23.6054 37.5196 23.7929 37.7071C23.9804 37.8946 24.2348 38 24.5 38H36.5521L41.5 42V26C41.5 25.7348 41.3946 25.4804 41.2071 25.2929C41.0196 25.1054 40.7652 25 40.5 25H35.5"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <h5 class="mt-4 lg:mt-6 mb-2 lg:mb-3">Email & sales copy</h5>
        <p class="mb-20 lg:mb-[106px]">
          Turn clicks into customers with strong messaging.
        </p>

        <div
          class="border dark:border-dark p-8 max-lg:size-16 lg:w-[92px] lg:h-24 flex items-center justify-center group-hover:bg-secondary dark:group-hover:bg-backgroundBody transition-colors duration-[400ms] ease-team-bezier overflow-hidden"
        >
          <span
            class="translate-x-4 group-hover:translate-x-20 transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span
            class="-translate-x-24 group-hover:-translate-x-[18px] transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
      </a>
    </div>
    <!-- Card-6 -->
    <div
      class="px-6 lg:px-[30px] py-9 lg:py-[50px] border dark:border-dark group reveal-me"
    >
      <a href="services-details.html">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
          >
            <rect
              width="60"
              height="60"
              class="fill-backgroundBody dark:fill-dark"
            />
            <path
              d="M17.5 43.25C17.5 42.2554 17.8951 41.3016 18.5983 40.5983C19.3016 39.8951 20.2554 39.5 21.25 39.5H42.5V14.5H21.25C20.2554 14.5 19.3016 14.8951 18.5983 15.5983C17.8951 16.3016 17.5 17.2554 17.5 18.25V43.25Z"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M17.5 43.25V44.5H40"
              class="stroke-secondary dark:stroke-backgroundBody"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <h5 class="mt-4 lg:mt-6 mb-2 lg:mb-3">Digital content</h5>
        <p class="mb-20 lg:mb-[106px]">
          Engage your audience with compelling storytelling.
        </p>

        <div
          class="border dark:border-dark p-8 max-lg:size-16 lg:w-[92px] lg:h-24 flex items-center justify-center group-hover:bg-secondary dark:group-hover:bg-backgroundBody transition-colors duration-[400ms] ease-team-bezier overflow-hidden"
        >
          <span
            class="translate-x-4 group-hover:translate-x-20 transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span
            class="-translate-x-24 group-hover:-translate-x-[18px] transition-transform duration-[400ms]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="32"
              viewBox="0 0 33 32"
              fill="none"
            >
              <path
                d="M5.11377 16H27.1138"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.1138 7L27.1138 16L18.1138 25"
                class="stroke-backgroundBody dark:stroke-secondary"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
      </a>
    </div>
  </div>
</section>
