<!--=====================================
   Services Details Section
======================================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
  <div class="container">
    <div class="flex flex-col gap-8 lg:flex-row">
      <!-- Main Content -->
      <article class="project-details-body w-full">
        <figure
          class="reveal-me flex justify-center items-center pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
        >
          <img
            src="images/services/services-details2-img.png"
            alt="Services Big Img"
            class=""
          />
        </figure>
        <div class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px]">
          <h2 class="text-center mb-8 md:mb-16 reveal-me">
            Our web development <br />
            services
          </h2>

          <div
            class="[&>*:not(:first-child)]:border-t dark:[&>*:not(:first-child)]:border-dark"
          >
            <div class="py-4 md:py-[30px] pr-4 md:pr-[30px] reveal-me">
              <h5 class="mb-3">Custom website development</h5>
              <ul>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Custom UI/UX design & development
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  CMS-based or fully custom solutions
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Optimized for performance & conversions
                </li>
              </ul>
            </div>

            <div class="py-4 md:py-[30px] pr-4 md:pr-[30px] reveal-me">
              <h5 class="mb-3">Scalable & high speed development</h5>
              <ul>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Optimized code & lightweight structure
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Server-side speed enhancements
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Caching, CDN, and best practices
                </li>
              </ul>
            </div>

            <div class="py-4 md:py-[30px] pr-4 md:pr-[30px] reveal-me">
              <h5 class="mb-3">Responsive & mobile friendly design</h5>
              <ul>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Mobile-first, tablet-friendly designs
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Cross-browser compatibility
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Optimized touch interaction & navigation
                </li>
              </ul>
            </div>

            <div class="py-4 md:py-[30px] pr-4 md:pr-[30px] reveal-me">
              <h5 class="mb-3">SEO optimized development</h5>
              <ul>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Clean, SEO-structured code
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Fast page speed & mobile optimization
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Schema markup & technical SEO enhancements
                </li>
              </ul>
            </div>

            <div class="py-4 md:py-[30px] pr-4 md:pr-[30px] reveal-me">
              <h5 class="mb-3">Security & maintenance</h5>
              <ul>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  SSL implementation & encryption
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Monitoring & proactive security updates
                </li>
                <li class="text-secondary/70 dark:text-backgroundBody/70">
                  Regular backups & recovery solutions
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
