<!--=====================================
   Scrollable Services Section
======================================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] relative overflow-hidden"
>
  <div class="container">
    <div class="text-center mb-8 md:mb-14">
      <div class="rv-badge reveal-me">
        <span class="rv-badge-text">Services</span>
      </div>
      <h2 class="my-3 text-appear">
        Bringing your <i class="font-instrument">vision to life</i>
      </h2>
      <p class="text-appear">
        Each project reflects our dedication to excellence, creativity, and
        innovation.
      </p>
    </div>

    <!-- Horizontal Scrolling Services -->
    <div class="service-section pt-10">
      <div
        class="flex flex-nowrap w-max gap-6 pl-[5%] pr-[30px] video-section service-wrapper overflow-x-hidden reveal-me"
      >
        <!-- Service Card 01 -->
        <div class="w-[370px] group cursor-fancy flex-shrink-0">
          <figure class="hero-video-container">
            <a
              href="https://www.youtube.com/watch?v=HszQAizu-So"
              class="hero-video cursor-fancy"
            >
              <img
                src="images/services-2/service-item-1.png"
                alt="Advertising Video"
              />
            </a>
          </figure>
          <h3
            class="text-2xl md:text-[32px] mb-2.5 mt-[30px] leading-[1.1] tracking-normal"
          >
            Advertising videos
          </h3>
          <p class="max-w-[95%] text-base leading-[1.6] tracking-[0.32px]">
            Could you clarify what you'd like to know or discuss regarding? It
            can refer to various concepts like representation.
          </p>
        </div>

        <!-- Service Card 02 -->
        <div class="w-[370px] group cursor-fancy flex-shrink-0">
          <figure class="hero-video-container">
            <a
              href="https://www.youtube.com/watch?v=HszQAizu-So"
              class="hero-video cursor-fancy"
            >
              <img
                src="images/services-2/service-item-2.png"
                alt="Corporate Video"
              />
            </a>
          </figure>
          <h3
            class="text-2xl md:text-[32px] mb-2.5 mt-[30px] leading-[1.1] tracking-normal"
          >
            Corporate & brand films
          </h3>
          <p class="max-w-[95%] text-base leading-[1.6] tracking-[0.32px]">
            It implies a combination of capabilities and specialized skills,
            which could be technical or procedural.
          </p>
        </div>

        <!-- Service Card 03 -->
        <div class="w-[370px] group cursor-fancy flex-shrink-0">
          <figure class="hero-video-container">
            <a
              href="https://www.youtube.com/watch?v=HszQAizu-So"
              class="hero-video cursor-fancy"
            >
              <img
                src="images/services-2/service-item-3.png"
                alt="Live Streaming"
              />
            </a>
          </figure>
          <h3
            class="text-2xl md:text-[32px] mb-2.5 mt-[30px] leading-[1.1] tracking-normal"
          >
            Live streaming
          </h3>
          <p class="max-w-[95%] text-base leading-[1.6] tracking-[0.32px]">
            It emphasizes professionalism and the depth of experience across
            various services or specialties.
          </p>
        </div>

        <!-- Service Card 04 -->
        <div class="w-[370px] group cursor-fancy flex-shrink-0">
          <figure class="hero-video-container">
            <a
              href="https://www.youtube.com/watch?v=HszQAizu-So"
              class="hero-video cursor-fancy"
            >
              <img
                src="images/services-2/service-item-4.png"
                alt="Music Video"
              />
            </a>
          </figure>
          <h3
            class="text-2xl md:text-[32px] mb-2.5 mt-[30px] leading-[1.1] tracking-normal"
          >
            Music videos
          </h3>
          <p class="max-w-[95%] text-base leading-[1.6] tracking-[0.32px]">
            It emphasizes artistic expression and the depth of experience across
            various services or genres.
          </p>
        </div>
        <!-- Service Card 01 -->
        <div class="w-[370px] group cursor-fancy flex-shrink-0">
          <figure class="hero-video-container">
            <a
              href="https://www.youtube.com/watch?v=HszQAizu-So"
              class="hero-video cursor-fancy"
            >
              <img
                src="images/services-2/service-item-1.png"
                alt="Advertising Video"
              />
            </a>
          </figure>
          <h3
            class="text-2xl md:text-[32px] mb-2.5 mt-[30px] leading-[1.1] tracking-normal"
          >
            Advertising videos
          </h3>
          <p class="max-w-[95%] text-base leading-[1.6] tracking-[0.32px]">
            Could you clarify what you'd like to know or discuss regarding? It
            can refer to various concepts like representation.
          </p>
        </div>

        <!-- Service Card 02 -->
        <div class="w-[370px] group cursor-fancy flex-shrink-0">
          <figure class="hero-video-container">
            <a
              href="https://www.youtube.com/watch?v=HszQAizu-So"
              class="hero-video cursor-fancy"
            >
              <img
                src="images/services-2/service-item-2.png"
                alt="Corporate Video"
              />
            </a>
          </figure>
          <h3
            class="text-2xl md:text-[32px] mb-2.5 mt-[30px] leading-[1.1] tracking-normal"
          >
            Corporate & brand films
          </h3>
          <p class="max-w-[95%] text-base leading-[1.6] tracking-[0.32px]">
            It implies a combination of capabilities and specialized skills,
            which could be technical or procedural.
          </p>
        </div>

        <!-- Service Card 03 -->
        <div class="w-[370px] group cursor-fancy flex-shrink-0">
          <figure class="hero-video-container">
            <a
              href="https://www.youtube.com/watch?v=HszQAizu-So"
              class="hero-video cursor-fancy"
            >
              <img
                src="images/services-2/service-item-3.png"
                alt="Live Streaming"
              />
            </a>
          </figure>
          <h3
            class="text-2xl md:text-[32px] mb-2.5 mt-[30px] leading-[1.1] tracking-normal"
          >
            Live streaming
          </h3>
          <p class="max-w-[95%] text-base leading-[1.6] tracking-[0.32px]">
            It emphasizes professionalism and the depth of experience across
            various services or specialties.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
