<!-- ==============================
social-proof 
============================== -->

<section class="-z-0">
  <div class="container">
    <div class="relative reveal-me-2">
      <div class="z-50 flex items-center justify-center">
        <img
          src="images/path-images/social-proof.png"
          alt="social-proof"
          class="inline-block dark:hidden"
        />
        <img
          src="images/path-images/social-proof-dark.png"
          alt="social-proof"
          class="dark:inline-block hidden"
        />
      </div>
    </div>
  </div>
</section>
