<!-- ================================
solutions v3 Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] overflow-hidden bg-[#CBE8DF] service-section"
>
  <!--  section header -->
  <div class="container">
    <div class="grid grid-cols-12 gap-y-3 md:gap-x-10 items-start">
      <div class="col-span-12 lg:col-span-7">
        <h2 class="text-appear-2 text-secondary dark:text-secondary text-left">
          Tailored insurance solutions
          <span class="font-instrument italic">for every need</span>
        </h2>
      </div>
      <div class="col-span-12 lg:col-span-5 lg:text-right">
        <p class="text-appear text-secondary/70 dark:text-secondary/70">
          We offer a full range of social media marketing services to help
          businesses grow.
        </p>
        <ul class="mt-7 md:mt-14 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/team.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>Explore Our Services</span>
              </div>
              <div class="rv-button-bottom">
                <span>Explore Our Services</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- solutions v2 content -->
  <div
    class="mt-16 flex flex-col md:flex-row md:flex-nowrap md:w-fit gap-6 md:pl-[20%] max-md:px-5 md:pr-10 service-wrapper overflow-x-hidden reveal-me"
  >
    <!-- CARD 1 -->
    <div
      class="md:px-[25px] px-5 py-14 md:py-[70px] border-t border-t-secondary dark:border-t-primary rounded-none flex-1 bg-backgroundBody md:w-[370px] w-full flex md:flex-row flex-col md:gap-[22px] gap-4 dark:bg-black"
    >
      <div>
        <p
          class="text-5xl font-normal font-instrument text-black leading-[64px] dark:text-white max-md:text-3xl"
        >
          01
        </p>
      </div>
      <div class="md:space-y-8 space-y-4">
        <p
          class="md:text-4xl font-normal tracking-[-1.08px] leading-[110%] text-black md:max-w-[200px] dark:text-white max-md:text-2xl"
        >
          Commercial insurance
        </p>
        <p
          class="text-base leading-6 tracking-[0.32px] text-colorText font-normal dark:text-backgroundBody/70"
        >
          Protect your company with comprehensive coverage against unforeseen
          risks.
        </p>
      </div>
    </div>
    <!-- CARD 2 -->
    <div
      class="md:px-[25px] px-5 py-14 md:py-[70px] border-t border-t-secondary dark:border-t-primary rounded-none flex-1 bg-backgroundBody md:w-[370px] w-full flex md:flex-row flex-col md:gap-[22px] gap-4 dark:bg-black"
    >
      <div>
        <p
          class="text-5xl font-normal font-instrument text-black leading-[64px] dark:text-white max-md:text-3xl"
        >
          02
        </p>
      </div>
      <div class="md:space-y-8 space-y-4">
        <p
          class="md:text-4xl font-normal tracking-[-1.08px] leading-[110%] text-black md:max-w-[200px] dark:text-white max-md:text-2xl"
        >
          Property insurance
        </p>
        <p
          class="text-base leading-6 tracking-[0.32px] text-colorText font-normal dark:text-backgroundBody/70"
        >
          Shield your home, valuables, and property with tailored policies.
        </p>
      </div>
    </div>
    <!-- CARD 3 -->
    <div
      class="md:px-[25px] px-5 py-14 md:py-[70px] border-t border-t-secondary dark:border-t-primary rounded-none flex-1 bg-backgroundBody md:w-[370px] w-full flex md:flex-row flex-col md:gap-[22px] gap-4 dark:bg-black"
    >
      <div>
        <p
          class="text-5xl font-normal font-instrument text-black leading-[64px] dark:text-white max-md:text-3xl"
        >
          03
        </p>
      </div>
      <div class="md:space-y-8 space-y-4">
        <p
          class="md:text-4xl font-normal tracking-[-1.08px] leading-[110%] text-black md:max-w-[200px] dark:text-white max-md:text-2xl"
        >
          Auto & Fleet insurance
        </p>
        <p
          class="text-base leading-6 tracking-[0.32px] text-colorText font-normal dark:text-backgroundBody/70"
        >
          Secure your vehicles with the right protection for your business or
          personal use.
        </p>
      </div>
    </div>
    <!-- CARD 4 -->
    <div
      class="md:px-[25px] px-5 py-14 md:py-[70px] border-t border-t-secondary dark:border-t-primary rounded-none flex-1 bg-backgroundBody md:w-[370px] w-full flex md:flex-row flex-col md:gap-[22px] gap-4 dark:bg-black"
    >
      <div>
        <p
          class="text-5xl font-normal font-instrument text-black leading-[64px] dark:text-white max-md:text-3xl"
        >
          04
        </p>
      </div>
      <div class="md:space-y-8 space-y-4">
        <p
          class="md:text-4xl font-normal tracking-[-1.08px] leading-[110%] text-black md:max-w-[200px] dark:text-white max-md:text-2xl"
        >
          Regulatory compliance
        </p>
        <p
          class="text-base leading-6 tracking-[0.32px] text-colorText font-normal dark:text-backgroundBody/70"
        >
          Collaborate with top influencers for brand awareness.
        </p>
      </div>
    </div>
    <!-- CARD 5 -->
    <div
      class="md:px-[25px] px-5 py-14 md:py-[70px] border-t border-t-secondary dark:border-t-primary rounded-none flex-1 bg-backgroundBody md:w-[370px] w-full flex md:flex-row flex-col md:gap-[22px] gap-4 dark:bg-black"
    >
      <div>
        <p
          class="text-5xl font-normal font-instrument text-black leading-[64px] dark:text-white max-md:text-3xl"
        >
          05
        </p>
      </div>
      <div class="md:space-y-8 space-y-4">
        <p
          class="md:text-4xl font-normal tracking-[-1.08px] leading-[110%] text-black md:max-w-[200px] dark:text-white max-md:text-2xl"
        >
          Analytics & Reporting
        </p>
        <p
          class="text-base leading-6 tracking-[0.32px] text-colorText font-normal dark:text-backgroundBody/70"
        >
          Detailed insights to measure campaign success.
        </p>
      </div>
    </div>
    <!-- CARD 6 -->
    <div
      class="md:px-[25px] px-5 py-14 md:py-[70px] border-t border-t-secondary dark:border-t-primary rounded-none flex-1 bg-backgroundBody md:w-[370px] w-full flex md:flex-row flex-col md:gap-[22px] gap-4 dark:bg-black"
    >
      <div>
        <p
          class="text-5xl font-normal font-instrument text-black leading-[64px] dark:text-white max-md:text-3xl"
        >
          06
        </p>
      </div>
      <div class="md:space-y-8 space-y-4">
        <p
          class="md:text-4xl font-normal tracking-[-1.08px] leading-[110%] text-black md:max-w-[200px] dark:text-white max-md:text-2xl"
        >
          Strategy Development
        </p>
        <p
          class="text-base leading-6 tracking-[0.32px] text-colorText font-normal dark:text-backgroundBody/70"
        >
          Tailored strategies for your brand's growth.
        </p>
      </div>
    </div>
    <!-- CARD 7 -->
    <div
      class="md:px-[25px] px-5 py-14 md:py-[70px] border-t border-t-secondary dark:border-t-primary rounded-none flex-1 bg-backgroundBody md:w-[370px] w-full flex md:flex-row flex-col md:gap-[22px] gap-4 dark:bg-black"
    >
      <div>
        <p
          class="text-5xl font-normal font-instrument text-black leading-[64px] dark:text-white max-md:text-3xl"
        >
          07
        </p>
      </div>
      <div class="md:space-y-8 space-y-4">
        <p
          class="md:text-4xl font-normal tracking-[-1.08px] leading-[110%] text-black md:max-w-[200px] dark:text-white max-md:text-2xl"
        >
          Crisis Management
        </p>
        <p
          class="text-base leading-6 tracking-[0.32px] text-colorText font-normal dark:text-backgroundBody/70"
        >
          Protect your brand during challenging times.
        </p>
      </div>
    </div>
    <!-- CARD 8 -->
    <div
      class="md:px-[25px] px-5 py-14 md:py-[70px] border-t border-t-secondary dark:border-t-primary rounded-none flex-1 bg-backgroundBody md:w-[370px] w-full flex md:flex-row flex-col md:gap-[22px] gap-4 dark:bg-black"
    >
      <div>
        <p
          class="text-5xl font-normal font-instrument text-black leading-[64px] dark:text-white max-md:text-3xl"
        >
          08
        </p>
      </div>
      <div class="md:space-y-8 space-y-4">
        <p
          class="md:text-4xl font-normal tracking-[-1.08px] leading-[110%] text-black md:max-w-[200px] dark:text-white max-md:text-2xl"
        >
          Training & Workshops
        </p>
        <p
          class="text-base leading-6 tracking-[0.32px] text-colorText font-normal dark:text-backgroundBody/70"
        >
          Empower your team with social media skills.
        </p>
      </div>
    </div>
  </div>
</section>
