<!-- ================================
testimonial-v9 Section 
================================ -->

<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <!-- Section Header -->
    <div class="mb-7 lg:mb-16 text-center">
      <h2 class="mb-3 text-center text-appear">
        What our
        <i class="font-instrument">clients say </i>
      </h2>
      <p class="max-w-3xl text-appear mx-auto">
        Lorem ipsum dolor sit amet consectetur. Elit facilisis maecenas euismod
        vulputate. Dignissim natoque nascetur donec urna in vel vitae.
      </p>
    </div>
  </div>
  <!-- Clients Logo Marquee -->
  <div class="relative">
    <div
      class="absolute left-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-r from-backgroundBody to-transparent dark:from-dark-gradient z-40"
    ></div>
    <div
      class="absolute right-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-l from-backgroundBody to-transparent dark:from-dark-gradient z-40"
    ></div>
    <div class="marquee-container reveal-me">
      <div class="flex gap-5 md:gap-7">
        <!--Review Card 01 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5 ml-7"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-1.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Wade Warren
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Product Designer
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 02 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-2.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Marvin McKinney
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 03 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-3.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Arlene McCoy
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                General Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 04 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-4.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Arlene McCoy
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                General Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!-- Review Card 05 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-5.png"
              alt="Devon Lane"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Devon Lane
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Marketing Specialist at Omega
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 18, 2024</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Reverse -->
  <div class="relative">
    <div
      class="absolute left-0 top-0 h-full w-[10%] md:w-[20%] bg-gradient-to-r from-backgroundBody to-transparent dark:from-dark-gradient z-40"
    ></div>
    <div
      class="absolute right-0 top-0 h-full w-[10%] md:w-[20%] bg-gradient-to-l from-backgroundBody to-transparent dark:from-dark-gradient z-40"
    ></div>
    <div class="marquee-reverse-container reveal-me mt-5 md:mt-7">
      <div class="flex gap-5 md:gap-7">
        <!--Review Card 01 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5 ml-7"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-1.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Wade Warren
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Product Designer
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 02 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-2.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Marvin McKinney
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 03 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-3.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Arlene McCoy
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                General Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 04 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-4.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Arlene McCoy
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                General Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!-- Review Card 05 -->
        <div
          class="min-w-[380px] md:min-w-[408px] max-w-[380px] md:max-w-[408px] border dark:border-backgroundBody/10 p-5"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-5.png"
              alt="Devon Lane"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Devon Lane
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Marketing Specialist at Omega
              </p>
            </div>
          </div>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <p
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText dark:text-backgroundBody/70 py-4 text-wrap"
          >
            “Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse.”
          </p>
          <span>
            <!-- Mobile -->
            <svg
              class="block md:hidden w-full h-[2px]"
              viewBox="0 0 340 2"
              fill="none"
            >
              <path
                d="M0 1H340"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>

            <!-- Desktop -->
            <svg
              class="hidden md:block w-full h-[2px]"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                d="M0 1H362"
                class="stroke-secondary dark:stroke-backgroundBody"
                stroke-dasharray="6 6"
                stroke-opacity="0.1"
              />
            </svg>
          </span>
          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 18, 2024</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
