<!-- ================================
Travel images Gallery  
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <!-- Travel Gallery Grid -->
    <div class="grid grid-cols-12 gap-2 lg:gap-3.5 2xl:gap-7">
      <div class="col-span-4 row-span-1 reveal-me">
        <img
          src="images/travel-blogs/travel-gallary-1.png"
          alt="Van in mountains"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="col-span-4 row-span-2 reveal-me">
        <img
          src="images/travel-blogs/travel-gallary-2.png"
          alt="Building on cliff edge"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="col-span-4 row-span-1 reveal-me">
        <img
          src="images/travel-blogs/travel-gallary-5.png"
          alt="Mountain view"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="col-span-2 row-span-1 reveal-me">
        <img
          src="images/travel-blogs/travel-gallary-3.png"
          alt="Travel finances"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="col-span-2 row-span-1 reveal-me">
        <img
          src="images/travel-blogs/travel-gallary-4.png"
          alt="Person in forest"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="col-span-4 row-span-1 reveal-me">
        <img
          src="images/travel-blogs/travel-gallary-6.png"
          alt="City tram"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
