<!-- ================================
What We Offer Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <div class="grid grid-cols-12 items-center lg:gap-x-16 gap-y-16">
      <figure class="col-span-12 lg:col-span-6 reveal-me">
        <img src="images/services/offer.png" alt="expertise" class="w-full" />
      </figure>
      <div class="col-span-12 lg:col-span-6 space-y-7 reveal-me">
        <div class="space-y-2">
          <h2 class="text-appear lg:leading-[1.1]">
            Your partner in
            <span class="font-instrument italic">business excellence</span>
          </h2>
          <p
            class="text-black/70 dark:text-backgroundBody/70 font-normal md:text-lg text-base md:leading-[28.8px] md:tracking-[0.36px] text-appear"
          >
            At Rivor, we specialize in business strategy, operations, and
            leadership consulting to help companies overcome challenges and
            scale efficiently.
          </p>
        </div>
        <div>
          <p
            class="md:text-4xl text-appear text-3xl mb-3 font-normal text-black dark:text-white md:leading-10 md:tracking-[-1.08px]"
          >
            What we offer
          </p>
          <ul class="list-disc space-y-0.5 list-inside reveal-me">
            <li
              class="text-base font-normal leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
            >
              Expert guidance tailored to your needs
            </li>
            <li
              class="text-base font-normal leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
            >
              Data-driven strategies for measurable success
            </li>
            <li
              class="text-base font-normal leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
            >
              Hands-on support for implementation
            </li>
          </ul>
          <ul class="justify-self-start max-md:w-full mt-7 md:mt-10">
            <li
              class="block md:inline-block w-full mx-auto md:w-auto text-center"
            >
              <a
                href="/team.html"
                class="rv-button rv-button-white block md:inline-block"
              >
                <div class="rv-button-top">
                  <span>Meet Our Team</span>
                </div>
                <div class="rv-button-bottom text-nowrap">
                  <span>Meet Our Team</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
