<!-- ================================
What We Offer Section 
================================ -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="container">
    <div class="grid grid-cols-12 items-start lg:gap-x-16 gap-y-16">
      <figure class="col-span-12 lg:col-span-6 h-full reveal-me">
        <img
          src="images/services/offer-v2.png"
          alt="expertise"
          class="w-full h-full"
        />
      </figure>
      <div class="col-span-12 lg:col-span-6 space-y-7 reveal-me">
        <div class="space-y-2">
          <h2>
            We don’t just tell stories—
            <span class="font-instrument italic">We wake</span>
            <span class="font-instrument italic">them matter.</span>
          </h2>
          <p
            class="text-black/70 xl dark:text-backgroundBody/70 font-normal text-lg leading-[28.8px] tracking-[0.36px]"
          >
            Our team of PR experts, media strategists, and crisis management
            specialists help businesses gain visibility, credibility, and
            authority.
          </p>
        </div>
        <div>
          <ul class="list-disc space-y-0.5 list-inside">
            <li
              class="text-base font-normal leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
            >
              Key Stats (optional):
            </li>
            <li
              class="text-base font-normal leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
            >
              200+ successful PR campaigns
            </li>
            <li
              class="text-base font-normal leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
            >
              $100M+ in media value generated
            </li>
            <li
              class="text-base font-normal leading-[25.6px] tracking-[0.32px] text-black/70 dark:text-backgroundBody/70"
            >
              Featured in Forbes, WSJ, Business Insider, Bloomberg
            </li>
          </ul>
          <div class="justify-self-start max-md:w-full mt-7 md:mt-10">
            <div
              class="block md:inline-block w-full mx-auto md:w-auto text-center"
            >
              <a
                href="/team.html"
                class="rv-button rv-button-white block md:inline-block"
              >
                <div class="rv-button-top">
                  <span>Meet Our Team</span>
                </div>
                <div class="rv-button-bottom text-nowrap">
                  <span>Meet Our Team</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
