<!--=====================================
   Why Choose Rivor Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <!-- Section Header -->
    <div class="text-center mb-8 md:mb-14">
      <h2 class="mt-3 text-appear">
        Why choose <i class="font-instrument">Rivor?</i>
      </h2>
      <p class="text-appear">The Rivor Advantage — All That Works for You</p>
    </div>

    <!-- Content Area -->
    <div class="flex flex-col-reverse md:flex-row gap-y-8 gap-x-[30px]">
      <div class="md:w-1/2 [&>*]:border-b">
        <div class="reveal-me py-3.5 lg:py-[30px] pr-[30px]">
          <h5>Proven AI Expertise</h5>
          <p class="top-3 tracking-[ 0.32px] leading-[1.6] text-base">
            Top AI experts with proven success.
          </p>
        </div>
        <div class="reveal-me py-3.5 lg:py-[30px] pr-[30px]">
          <h5>Tailored Solutions</h5>
          <p class="mt-3 tracking-[0.32px] leading-[1.6] text-base">
            We are also the all AI have—each solution is tailored.
          </p>
        </div>
        <div class="reveal-me py-3.5 lg:py-[30px] pr-[30px]">
          <h5>Data-Driven Insights</h5>
          <p class="mt-3 tracking-[0.32px] leading-[1.6] text-base">
            AI analytics for accurate decisions.
          </p>
        </div>
        <div class="reveal-me py-3.5 lg:py-[30px] pr-[30px]">
          <h5>Seamless Integration</h5>
          <p class="mt-3 tracking-[0.32px] leading-[1.6] text-base">
            All that fits effortlessly into your existing systems.
          </p>
        </div>
        <div class="reveal-me py-3.5 lg:py-[30px] pr-[30px]">
          <h5>ROI-Focused results</h5>
          <p class="mt-3 tracking-[0.32px] leading-[1.6] text-base">
            AI solutions to enhance efficiency and profits.
          </p>
        </div>
      </div>
      <figure class="md:w-1/2 reveal-me">
        <!-- Replace with your image path -->
        <img
          src="images/home-5/why-rivor.png"
          alt="AI Solutions"
          class="w-full h-full"
        />
      </figure>
    </div>

    <!-- rv-button-primary -->
    <ul class="flex justify-center mt-14 reveal-me">
      <li>
        <a href="contact.html" class="rv-button rv-button-sm rv-button-primary">
          <div class="rv-button-top">
            <span>Let’s Talk</span>
          </div>
          <div class="rv-button-bottom">
            <span>Let’s Talk</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
