<!--=====================================
   Why Choose Rivor Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-4 justify-center lg:justify-between items-start mb-16 lg:mb-24"
    >
      <!-- Title Area -->
      <div class="flex-1 md:self-start">
        <h2 class="text-appear">
          Why choose Rivor
          <i class="font-instrument"> travels? </i>
        </h2>
      </div>

      <!-- Description -->
      <div class="w-full md:max-w-80 lg:max-w-[470px] md:self-end">
        <p class="text-appear max-w-lg md:text-right md:place-self-end">
          What travel details do you need? Flight info, itinerary, expenses, or
          something else?
        </p>
        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/contact.html"
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>Start Planning</span>
              </div>
              <div class="rv-button-bottom">
                <span>Start Planning</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Content Area -->
    <div
      class="flex flex-col-reverse md:flex-row gap-y-8 md:gap-14 lg:gap-16 xl:gap-x-20 2xl:gap-x-[130px]"
    >
      <div class="md:w-1/2 [&>*]:border-b">
        <div class="reveal-me py-3.5 lg:py-5 pr-5">
          <h5>Tailored experiences</h5>
          <p class="mt-3 tracking-[ 0.32px] leading-[1.6] text-base">
            Every trip is customized to suit your interests.
          </p>
        </div>
        <div class="reveal-me py-3.5 lg:py-5 pr-5">
          <h5>Best price guarantee</h5>
          <p class="mt-3 tracking-[0.32px] leading-[1.6] text-base">
            Exclusive travel deals and unbeatable offers.
          </p>
        </div>
        <div class="reveal-me py-3.5 lg:py-5 pr-5">
          <h5>24/7 Support</h5>
          <p class="mt-3 tracking-[0.32px] leading-[1.6] text-base">
            Assistance whenever and wherever you need it.
          </p>
        </div>
        <div class="reveal-me py-3.5 lg:py-5 pr-5">
          <h5>Expert local guides</h5>
          <p class="mt-3 tracking-[0.32px] leading-[1.6] text-base">
            Authentic experiences with trusted professionals.
          </p>
        </div>
        <div class="reveal-me py-3.5 lg:py-5 pr-5">
          <h5>Hassle-Free travel planning</h5>
          <p class="mt-3 tracking-[0.32px] leading-[1.6] text-base">
            We take care of everything, so you don’t have to.
          </p>
        </div>
      </div>
      <figure class="md:w-1/2 reveal-me">
        <!-- Replace with your image path -->
        <img
          src="images/home-5/why-rivor-v2.png"
          alt="AI Solutions"
          class="w-full h-full"
        />
      </figure>
    </div>
  </div>
</section>
