<!--=====================================
   Why Choose_v4 Rivor Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <!-- Content Area -->
    <div
      class="flex flex-col-reverse md:flex-row-reverse gap-y-8 md:gap-5 lg:gap-10 xl:gap-x-20"
    >
      <div class="md:w-[45%]">
        <div class="[&>*:not(:first-child)]:mt-3.5">
          <div class="reveal-me py-2.5">
            <h6>E-Commerce & Retail</h6>
            <p class="mt-1.5 tracking-[0.32px] leading-[1.6] text-base">
              Product descriptions, email marketing, and ad copy.
            </p>
          </div>

          <div class="reveal-me py-2.5">
            <h6>SaaS & Technology</h6>
            <p class="mt-1.5 tracking-[0.32px] leading-[1.6] text-base">
              Clear, engaging messaging that simplifies complex solutions.
            </p>
          </div>

          <div class="reveal-me py-2.5">
            <h6>Finance & Legal</h6>
            <p class="mt-1.5 tracking-[0.32px] leading-[1.6] text-base">
              Trust-building content for regulated industries.
            </p>
          </div>

          <div class="reveal-me py-2.5">
            <h6>Healthcare & Wellness</h6>
            <p class="mt-1.5 tracking-[0.32px] leading-[1.6] text-base">
              Empathetic, informative content that connects with audiences.
            </p>
          </div>

          <div class="reveal-me py-2.5">
            <h6>Luxury & Lifestyle</h6>
            <p class="mt-1.5 tracking-[0.32px] leading-[1.6] text-base">
              Sophisticated storytelling that enhances brand value.
            </p>
          </div>
        </div>

        <ul class="max-md:w-full mt-7 md:mt-14 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href="/team.html"
              class="rv-button rv-button-sm rv-button-primary block md:inline-block"
            >
              <div class="rv-button-top">
                <span>Get in Touch</span>
              </div>
              <div class="rv-button-bottom">
                <span class="text-nowrap">Get in Touch</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="md:w-[55%] reveal-me">
        <h2 class="text-appear">
          Industries
          <br class="hidden md:block" />
          <i class="font-instrument"> We serve</i>
        </h2>
        <p class="text-appear mt-4">
          We create tailored content for businesses across a wide range of
          <br />
          industries:
        </p>
      </div>
    </div>
  </div>
</section>
